{#def tag="button" #}

{% if tag == "button" %}{% do attrs.set(type="button") %}{% endif %}

<{{ tag }} {{ attrs.render(class="
appearance-none inline-block rounded py-2 px-3 font-sans font-bold text-center
no-underline shadow shadow-black/20
transition-colors duration-300
") }}>
  {{ content }}
</{{ tag }}>
