<ui:Table>
<thead>
  <tr>
    <th></th>
    <th>Color name</th>
    <th>CSS variable</th>
    <th>Where to use</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><Sample color="bg-primary"/></td>
    <td>bg-primary</td>
    <td><code>--ui-bg-primary</code></td>
    <td>Primary color</td>
  </tr>
  <tr>
    <td><Sample color="fg-primary"/></td>
    <td>fg-primary</td>
    <td><code>--ui-fg-primary</code></td>
    <td>Foreground text color to use on primary color</td>
  </tr>
  <tr>
    <td><Sample color="bg-accent"/></td>
    <td>bg-accent</td>
    <td><code>--ui-bg-accent</code></td>
    <td>Accent color</td>
  </tr>
  <tr>
    <td><Sample color="fg-accent"/></td>
    <td>fg-accent</td>
    <td><code>--ui-fg-accent</code></td>
    <td>Foreground text color to use on accent color<br/></td>
  </tr>
  <tr>
    <td><Sample color="bg-neutral"/></td>
    <td>bg-neutral</td>
    <td><code>--ui-bg-neutral</code></td>
    <td>Neutral dark color, For not-saturated parts of UI</td>
  </tr>
  <tr>
    <td><Sample color="fg-neutral"/></td>
    <td>fg-neutral</td>
    <td><code>--ui-fg-neutral</code></td>
    <td>Foreground text color to use on neutral color<br/></td>
  </tr>
  <tr>
    <td><Sample color="bg-base"/></td>
    <td>bg-base</td>
    <td><code>--ui-bg-base</code></td>
    <td>Base surface color of page, used for blank background</td>
  </tr>
  <tr>
    <td><Sample color="bg-base-100"/></td>
    <td>bg-base-100</td>
    <td><code>--ui-bg-base-100</code></td>
    <td>Base surface color of panels</td>
  </tr>
  <tr>
    <td><Sample color="bg-base-200"/></td>
    <td>bg-base-200</td>
    <td><code>--ui-bg-base-200</code></td>
    <td>Base color, darker shade, to create elevations</td>
  </tr>
  <tr>
    <td><Sample color="bg-base-300"/></td>
    <td>bg-base-300</td>
    <td><code>--ui-bg-base-300</code></td>
    <td>Base color, even more darker shade, to create elevations</td>
  </tr>
  <tr>
    <td><Sample color="fg-base"/></td>
    <td>fg-base</td>
    <td><code>--ui-fg-base</code></td>
    <td>Foreground text color to use on base color</td>
  </tr>
  <tr>
    <td><Sample color="fg-input"/></td>
    <td>fg-input</td>
    <td><code>--ui-fg-input</code></td>
    <td>Foreground text color to use on form fields</td>
  </tr>
  <tr>
    <td><Sample color="fg-muted"/></td>
    <td>fg-muted</td>
    <td><code>--ui-fg-muted</code></td>
    <td>Dimmed foreground text color<br/></td>
  </tr>
  <tr>
    <td><Sample color="bg-info"/></td>
    <td>bg-info</td>
    <td><code>--ui-bg-info</code></td>
    <td>Info color, For informative/helpful messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-info"/></td>
    <td>fg-info</td>
    <td><code>--ui-fg-info</code></td>
    <td>Foreground text color to use on info color</td>
  </tr>
  <tr>
    <td><Sample color="bg-success"/></td>
    <td>bg-success</td>
    <td><code>--ui-bg-success</code></td>
    <td>Success color, For success/safe messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-success"/></td>
    <td>fg-success</td>
    <td><code>--ui-fg-success</code></td>
    <td>Foreground text color to use on success color</td>
  </tr>
  <tr>
    <td><Sample color="bg-option"/></td>
    <td>bg-option</td>
    <td><code>--ui-bg-option</code></td>
    <td>For option messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-option"/></td>
    <td>fg-option</td>
    <td><code>--ui-fg-option</code></td>
    <td>Foreground text color to use on option color</td>
  </tr>
  <tr>
    <td><Sample color="bg-warning"/></td>
    <td>bg-warning</td>
    <td><code>--ui-bg-warning</code></td>
    <td>Warning color, For warning/caution messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-warning"/></td>
    <td>fg-warning</td>
    <td><code>--ui-fg-warning</code></td>
    <td>Foreground text color to use on warning color</td>
  </tr>
  <tr>
    <td><Sample color="bg-critical"/></td>
    <td>bg-critical</td>
    <td><code>--ui-bg-critical</code></td>
    <td>Critical color, For error/danger/destructive messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-critical"/></td>
    <td>fg-critical</td>
    <td><code>--ui-fg-critical</code></td>
    <td>Foreground text color to use on critical color<br/></td>
  </tr>
  <tr>
    <td><Sample color="border-default"/></td>
    <td>border-default</td>
    <td><code>--ui-border-default</code></td>
    <td>Default border color</td>
  </tr>
    <tr>
    <td><Sample color="border-muted"/></td>
    <td>border-muted</td>
    <td><code>--ui-border-muted</code></td>
    <td>Dimmed border color</td>
  </tr>
    <tr>
    <td><Sample color="border-disabled"/></td>
    <td>border-disabled</td>
    <td><code>--ui-border-disabled</code></td>
    <td>Border color to use on disabled elements</td>
  </tr>
</tbody>
</ui:Table>
