<ui:Table class="jxui-color-table">
<thead>
  <tr>
    <th></th>
    <th class="name">Color name</th>
    <th>CSS variable</th>
    <th>Where to use</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><Sample color="bg-primary"/></td>
    <td class="nowrap"><span>bg-primary</span></td>
    <td><code class="nowrap">--ui-bg-primary</code></td>
    <td>Primary color</td>
  </tr>
  <tr>
    <td><Sample color="fg-primary"/></td>
    <td class="nowrap"><span>fg-primary</span></td>
    <td><code class="nowrap">--ui-fg-primary</code></td>
    <td>Foreground text color to use on primary color</td>
  </tr>
  <tr>
    <td><Sample color="bg-accent"/></td>
    <td class="nowrap"><span>bg-accent</span></td>
    <td><code class="nowrap">--ui-bg-accent</code></td>
    <td>Accent color</td>
  </tr>
  <tr>
    <td><Sample color="fg-accent"/></td>
    <td class="nowrap"><span>fg-accent</span></td>
    <td><code class="nowrap">--ui-fg-accent</code></td>
    <td>Foreground text color to use on accent color</td>
  </tr>
  <tr><td colspan="3"></td></tr>
  <tr>
    <td><Sample color="bg-neutral"/></td>
    <td class="nowrap"><span>bg-neutral</span></td>
    <td><code class="nowrap">--ui-bg-neutral</code></td>
    <td>Neutral dark color, For not-saturated parts of UI</td>
  </tr>
  <tr>
    <td><Sample color="fg-neutral"/></td>
    <td class="nowrap"><span>fg-neutral</span></td>
    <td><code class="nowrap">--ui-fg-neutral</code></td>
    <td>Foreground text color to use on neutral color</td>
  </tr>
  <tr><td colspan="3"></td></tr>
  <tr>
    <td><Sample color="bg-base"/></td>
    <td class="nowrap"><span>bg-base</span></td>
    <td><code class="nowrap">--ui-bg-base</code></td>
    <td>Base surface color of page, used for blank background</td>
  </tr>
  <tr>
    <td><Sample color="bg-base-100"/></td>
    <td class="nowrap"><span>bg-base-100</span></td>
    <td><code class="nowrap">--ui-bg-base-100</code></td>
    <td>Base surface color of panels</td>
  </tr>
  <tr>
    <td><Sample color="bg-base-200"/></td>
    <td class="nowrap"><span>bg-base-200</span></td>
    <td><code class="nowrap">--ui-bg-base-200</code></td>
    <td>Base color, darker shade, to create elevations</td>
  </tr>
  <tr>
    <td><Sample color="bg-base-300"/></td>
    <td class="nowrap"><span>bg-base-300</span></td>
    <td><code class="nowrap">--ui-bg-base-300</code></td>
    <td>Base color, even more darker shade, to create elevations</td>
  </tr>
  <tr>
    <td><Sample color="fg-base"/></td>
    <td class="nowrap"><span>fg-base</span></td>
    <td><code class="nowrap">--ui-fg-base</code></td>
    <td>Foreground text color to use on base color</td>
  </tr>
  <tr>
    <td><Sample color="fg-input"/></td>
    <td class="nowrap"><span>fg-input</span></td>
    <td><code class="nowrap">--ui-fg-input</code></td>
    <td>Foreground text color to use on form fields</td>
  </tr>
  <tr>
    <td><Sample color="fg-muted"/></td>
    <td class="nowrap"><span>fg-muted</span></td>
    <td><code class="nowrap">--ui-fg-muted</code></td>
    <td>Dimmed foreground text color</td>
  </tr>
  <tr><td colspan="3"></td></tr>
  <tr>
    <td><Sample color="bg-info"/></td>
    <td class="nowrap"><span>bg-info</span></td>
    <td><code class="nowrap">--ui-bg-info</code></td>
    <td>Info color, For informative/helpful messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-info"/></td>
    <td class="nowrap"><span>fg-info</span></td>
    <td><code class="nowrap">--ui-fg-info</code></td>
    <td>Foreground text color to use on info color</td>
  </tr>
  <tr>
    <td><Sample color="bg-success"/></td>
    <td class="nowrap"><span>bg-success</span></td>
    <td><code class="nowrap">--ui-bg-success</code></td>
    <td>Success color, For success/safe messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-success"/></td>
    <td class="nowrap"><span>fg-success</span></td>
    <td><code class="nowrap">--ui-fg-success</code></td>
    <td>Foreground text color to use on success color</td>
  </tr>
  <tr>
    <td><Sample color="bg-option"/></td>
    <td class="nowrap"><span>bg-option</span></td>
    <td><code class="nowrap">--ui-bg-option</code></td>
    <td>For option messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-option"/></td>
    <td class="nowrap"><span>fg-option</span></td>
    <td><code class="nowrap">--ui-fg-option</code></td>
    <td>Foreground text color to use on option color</td>
  </tr>
  <tr>
    <td><Sample color="bg-warning"/></td>
    <td class="nowrap"><span>bg-warning</span></td>
    <td><code class="nowrap">--ui-bg-warning</code></td>
    <td>Warning color, For warning/caution messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-warning"/></td>
    <td class="nowrap"><span>fg-warning</span></td>
    <td><code class="nowrap">--ui-fg-warning</code></td>
    <td>Foreground text color to use on warning color</td>
  </tr>
  <tr>
    <td><Sample color="bg-critical"/></td>
    <td class="nowrap"><span>bg-critical</span></td>
    <td><code class="nowrap">--ui-bg-critical</code></td>
    <td>Critical color, For error/danger/destructive messages</td>
  </tr>
  <tr>
    <td><Sample color="fg-critical"/></td>
    <td class="nowrap"><span>fg-critical</span></td>
    <td><code class="nowrap">--ui-fg-critical</code></td>
    <td>Foreground text color to use on critical color</td>
  </tr>
  <tr><td colspan="3"></td></tr>
  <tr>
    <td><Sample color="border-default"/></td>
    <td class="nowrap"><span>border-default</span></td>
    <td><code class="nowrap">--ui-border-default</code></td>
    <td>Default border color</td>
  </tr>
    <tr>
    <td><Sample color="border-muted"/></td>
    <td class="nowrap"><span>border-muted</span></td>
    <td><code class="nowrap">--ui-border-muted</code></td>
    <td>Dimmed border color</td>
  </tr>
    <tr>
    <td><Sample color="border-disabled"/></td>
    <td class="nowrap"><span>border-disabled</span></td>
    <td><code class="nowrap">--ui-border-disabled</code></td>
    <td>Border color to use on disabled elements</td>
  </tr>
</tbody>
</ui:Table>
