{# Copyright (c) Juan-Pablo Scaletti <juanpablo@jpscaletti.com> #}
{#def name, scale, color #}

<div class="jxui-color-swatch" data-value="{{ color }}" title="{{ name }}-{{ scale }}">
  <div class="jxui-color-swatch-color" style="{{ 'background:'+ color }}"></div>
  <div class="jxui-color-swatch-name">
    <span>
      <span class="jxui-color-swatch-name-family"> {{ name }}-</span>{{ scale }}
    </span>
  </div>
</div>