{#def prefix, tabs #}

<div {{ attrs.render(
  class="not-prose relative mt-8 mb-12 flex flex-col items-center justify-center overflow-hidden rounded-xl"
) }}>
  <div class="flex w-full flex-col items-center justify-center relative">
    <TabGroup class="w-full">
      <TabList
        class="
          absolute
          pointer-events-none
          left-1
          top-1
          right-1
          z-10
          md:left-auto
        "
      >
        <div
          class="
          bg-black
            bg-opacity-50
            backdrop-blur
            backdrop-filter
            flex
            space-x-2
            items-stretch
            justify-end
            rounded-t-[10px]
            px-3
            py-2
            md:m-1
            md:rounded-lg
          "
        >
          {%- for text in tabs.keys() %}
          <PillTab
            target={"ex-%s-%s" % (prefix, loop.index)}
            class="
              bg-white
              bg-opacity-30
              hover:bg-opacity-40
              focus-visible:bg-opacity-40
              focus-visible:outline-none
              [&.selected]:bg-opacity-60
              pointer-events-auto
              flex
              rounded-md
              px-3
              py-2
              text-xs
              font-medium
              text-black
            "
            selected={loop.index == 1}
          >{{ text }}</PillTab>
          {%- endfor %}
        </div>
      </TabList>
      {%- for name in tabs.values() %}
      <TabPanel
        id={"ex-%s-%s" % (prefix, loop.index)}
        class="flex w-full flex-col items-center justify-center"
        hidden={loop.index != 1}
      >
        {{ catalog.render(name) }}
      </TabPanel>
      {%- endfor %}
    </TabGroup>
  </div>
</div>
