{#def prefix, tabs #}

<div {{ attrs.render(
  class="not-prose relative mt-8 mb-12
  flex flex-col items-center justify-center
  overflow-hidden rounded-xl"
) }}>
  <div class="flex w-full flex-col items-center justify-center relative">
    <TabGroup class="w-full max-h-[500px] overflow-y-auto">
      <TabList class="absolute pointer-events-none top-2 right-6 z-10">
        <div class="flex space-x-2 justify-end">
          {%- for text in tabs.keys() %}
          <Tab
            :target="'ex-%s-%s' % (prefix, loop.index)""
            class="
              bg-white/40
              hover:bg-white/50
              text-black
              [&.ui-selected]:bg-white
              pointer-events-auto
              flex
              px-2
              py-1
              text-xs
              font-bold
              rounded-xl
            "
            :selected="loop.index == 1"
          >{{ text }}</Tab>
          {%- endfor %}
        </div>
      </TabList>
      {%- for name in tabs.values() %}
      <TabPanel
        :id="'ex-%s-%s' % (prefix, loop.index)""
        class="flex w-full h-full flex-col items-center justify-center [&.ui-hidden]:hidden"
        :hidden="loop.index != 1"
      >
        {{ catalog.irender(name) }}
      </TabPanel>
      {%- endfor %}
    </TabGroup>
  </div>
</div>
