@scope (.Example) {
  :scope {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .example-tabgroup {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(229 231 235);
    border-radius: 0.4rem;
  }

  .example-tablist {
    z-index: 0;
    display: flex;
    border-bottom: 1px solid rgb(229 231 235);
    background-color: rgb(249 250 251);
    overflow-x: auto;
    overflow-y: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgb(107 114 128);
  }
  .example-tablist:is(.dark *) {
    border-color: rgb(75 85 99);
    background-color: rgb(55 65 81);
    color: rgb(156 163 175);
  }

  .example-tab {
    user-select: none;
    border-right-width: 1px;
    border-color: rgb(229 231 235);
    background-color: rgb(255 255 255);
    padding: 0.5rem 1.6rem;
    color: #333;
  }
  .example-tab:is(.dark *) {
    border-color: rgb(75 85 99);
    background-color: rgb(31 41 55);
    color: rgb(255 255 255);
  }
  .example-tab:not(.ui-disabled):not(.ui-selected):hover {
    background-color: rgb(249 250 251);
    color: rgb(55 65 81);
  }
  .example-tab:not(.ui-disabled):not(.ui-selected):hover:is(.dark *) {
    background-color: rgb(55 65 81);
    color: rgb(255 255 255);
  }
  .example-tab.ui-disabled {
    color: rgb(193 204 220);
  }
  .example-tab.ui-selected {
    color: black;
    background-color: #e7e9ed;
  }
  .example-tab.ui-selected:is(.dark *) {
    color: white;
    background-color: black;
  }

  .example-tabpanel {
    width: 100%;
    flex-grow: 0;`
    z-index: 10;
    overflow: auto;
    position: relative;
    max-height: 400px;
  }
  .example-tabpanel.ui-hidden {
    display: none;
  }
  .example-tabpanel div.highlight {
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-size: 90%;
  }
}