{# Copyright (c) Juan-Pablo Scaletti <juanpablo@jpscaletti.com> #}
<div class="page-home">
  <svg class=home-bg><defs><pattern id="d9377efd-6847-4029-827d-6b7a80863ce3" width="50" height="50" x="50%" y="-1" patternUnits="userSpaceOnUse"><path d="M.5 200V.5H200" fill="none"></path></pattern></defs><rect width="100%" height="100%" stroke-width="0" fill="url(#d9377efd-6847-4029-827d-6b7a80863ce3)"></rect></svg>
  <section class="hero">
    <h1>
      <img alt="JinjaX-UI" src="/static/img/ui-logo.svg" width="500" />
      <span class="dev-badge">ALPHA</span>
    </h1>
    <h2>
      Styled and accessible UI components, <span>to integrate with your JinjaX projects</span>
    </h2>
  </section>
  <section class="cta">
    <ui:Button href="/components/alert">Browse components</ui:Button>
    <ui:Button var="primary" href="/intro">Get started</ui:Button>
  </section>
</div>