{#def base_url="/" #}

<a
  {{ attrs.render(
    class="
      group flex h-10 items-center text-zinc-900 dark:text-zinc-100
      opacity-90 hover:opacity-100
    ",
    href=base_url,
    title="Back home",
) }}>
  <span class="ml-2 whitespace-nowrap leading-none text-2xl font-bold">
    JinjaX UI
  </span>
</a>
