<nav {{ attrs.render(class="NavLinks") }}>
  <a href="{{ nav.next_page.url }}" tabindex="0">
    Components
  </a>
  <a href="https://jinjax.scaletti.dev" tabindex="0">
    JinjaX
  </a>
  <LinkButton
    title="Source code"
    href="https://github.com/jpsca/jinjax-ui"
    tabindex="0"
  >
    {% include "svg/github.svg" %}
  </LinkButton>
</nav>