<nav {{ attrs.render(class="NavLinks") }}>
  <a href="/guide/" tabindex="0">
    Documentation
  </a>
  <a href="/ui/" tabindex="0">
    UI
  </a>
  <LinkButton
    title="Source code"
    href="https://github.com/jpsca/jinjax-ui"
    tabindex="0"
  >
    {% include "svg/github.svg" %}
  </LinkButton>
</nav>