@scope (.NavLinks) {
  a {
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(82 82 91);
  }
  a:hover {
    color: rgb(24 24 27);
  }

  a:is(.dark *) {
    color: rgb(212 212 216);
  }
  a:is(.dark *):hover {
    color: rgb(255 255 255);
  }
}