{# Copyright (c) Juan-Pablo Scaletti <juanpablo@jpscaletti.com> #}
{% set BASE_PATH = "/tree/main/src/jinjax_ui/ui/" %}
{% set sources = page.meta.get("sources", []) %}

{% if sources -%}
<h2>Components</h2>

<ui:Table class="ui-sources">
<thead>
  <tr>
    <th><div>Component</div></th>
    <th><div>File</div></th>
    <th class="right"><div>Source</div></th>
  </tr>
</thead>
<tbody>
{% for cname, filename in sources -%}
  {%- if filename.startswith(("http://", "https://")) -%}
    {% set url = filename %}
  {%- else -%}
    {% set url = metadata.repo + BASE_PATH + filename %}
  {%- endif -%}

  <tr>
    <th>
      {%- if cname %}<div><code>{{ cname }}</code></div>{% endif -%}
    </th>
    <td>
      <div><code>{{ filename }}</code></div>
    </td>
    <td class="right">
      <div><ui:Button
        icon="terminal"
        size="mini"
        href={{url}}
        target="_blank"
        rel="noopener noreferrer"
      >See source</ui:Button></div>
    </td>
  </tr>
{% endfor %}
</tbody>
</ui:Table>
{%- endif %}