{% set sources = page.meta.get("sources", []) %}

{% if sources -%}
<h2>Components&nbsp;<a class="headerlink" href="#s-sources">¶</a></h2>

<Table class="ui-sources">
<thead>
  <tr>
    <th><div>Component</div></th>
    <th><div>File</div></th>
    <th class="right"><div>Source</div></th>
  </tr>
</thead>
<tbody>
{% for cname, filename in sources -%}
  {%- if filename.startswith(("http://", "https://")) -%}
    {% set url = filename %}
  {%- else -%}
    {% set url = metadata.repo + "/tree/main/src/jinjax_ui/components/" + filename %}
  {%- endif -%}

  <tr>
    <th>
      {%- if cname %}<div><code>{{ cname }}</code></div>{% endif -%}
    </th>
    <td>
      <div><code>{{ filename }}</code></div>
    </td>
    <td class="right">
      <div><Button
        icon="terminal"
        size="mini"
        href={{url}}
        target="_blank"
        rel="noopener noreferrer"
      >See source</Button></div>
    </td>
  </tr>
{% endfor %}
</tbody>
</Table>
{%- endif %}