{% do attrs.set(
  class="
    rounded-xl
    bg-white
    p-3
    ring-white
    ring-opacity-60
    ring-offset-2
    ring-offset-blue-400
    focus:outline-none
    focus:ring-2
  "
) %}

<TabPanel __attrs={attrs}>{{ content }}</TabPanel>
