{#def name #}
{#css jxui.css, swatch.css #}

<tr class="jxui-swatch" data-name="{{name}}">
  <td class="jxui-swatch__color"><div style="background:var(--{{name}});"></div></td>
  <td class="jxui-swatch__name"><code>--{{name}}</code></td>
  <td class="jxui-swatch__value"><code><script>
  document.write(getComputedStyle(document.documentElement).getPropertyValue('--{{name}}').trim());
  </script></code></td>
</tr>