<div class="w-full max-w-xl px-2 py-16 sm:px-0">
  <TabGroup>
    <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
      <CardTab target="disabled-recent" selected>Recent</CardTab>
      <CardTab target="disabled-popular" disabled>Popular</CardTab>
      <CardTab target="disabled-trending">Trending</CardTab>
    </TabList>

    <StyledPanel id="disabled-recent">
      <p>This is the tab panel for "Recent".</p>
    </StyledPanel>

    <StyledPanel id="disabled-popular" hidden>
      <p>This is the tab panel for "Popular".</p>
    </StyledPanel>

    <StyledPanel id="disabled-trending" hidden>
      <p>This is the tab panel for "Trending".</p>
    </StyledPanel>
  </TabGroup>
</div>
