<div class="w-full max-w-xl px-2 py-16 sm:px-0 mr-10">
  <TabGroup>
    <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
      <CardTab target="select-recent" selected>Recent</CardTab>
      <CardTab target="select-popular">Popular</CardTab>
      <CardTab target="select-trending">Trending</CardTab>
    </TabList>

    <TabSelect class="" aria-hidden="true">
      <TabOption target="recent" selected>Recent</TabOption>
      <TabOption target="popular">Popular</TabOption>
      <TabOption target="trending">Trending</TabOption>
    </TabSelect>


    <StyledPanel id="select-recent">
      <p>This is the tab panel for "Recent".</p>
    </StyledPanel>

    <StyledPanel id="select-popular" hidden>
      <p>This is the tab panel for "Popular".</p>
    </StyledPanel>

    <StyledPanel id="select-trending" hidden>
      <p>This is the tab panel for "Trending".</p>
    </StyledPanel>
  </TabGroup>
</div>
