<div class="w-full max-w-xl px-2 py-16 sm:px-0">
  <TabGroup>
    <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
      <CardTab target="demo-recent" selected>Recent</CardTab>
      <CardTab target="demo-popular">Popular</CardTab>
      <CardTab target="demo-trending">Trending</CardTab>
    </TabList>

    <StyledPanel id="demo-recent">
      <p>This is the tab panel for "Recent".</p>
    </StyledPanel>

    <StyledPanel id="demo-popular" hidden>
      <p>This is the tab panel for "Popular".</p>
    </StyledPanel>

    <StyledPanel id="demo-trending" hidden>
      <p>This is the tab panel for "Trending".</p>
    </StyledPanel>
  </TabGroup>
</div>
