<div class="w-full">
{% markdown %}{% raw %}
```html+jinja
{# Style classes removed for clarity #}
<TabGroup>
  <TabList>
    <Tab target="recent" selected>Recent</Tab>
    <Tab target="popular" disabled>Popular</Tab>
    <Tab target="trending">Trending</Tab>
  </TabList>

  <TabPanel id="recent">
    <p>This is the tab panel for "Recent".</p>
  </TabPanel>
  <TabPanel id="trending" hidden>
    <p>This is the tab panel for "Trending".</p>
  </TabPanel>
</TabGroup>
```
{% endraw %}{% endmarkdown %}
</div>
