<div class="row">
  <ui:Radio label="Default checkbox" caption="This is a caption" name="size" />
  <ui:Button>Reference</ui:Button>
</div>
<div class="row">
  <ui:Radio label="Large checkbox" caption="This is a caption" size="large" name="size" />
  <ui:Button size="large">Reference</ui:Button>
</div>