<div class="row">
  <ui:Select label="Invalid" invalid="Not available in your country">
    <option >Iran</option>
  </ui:Select>
  <ui:Select label="Valid" valid="Available in your country">
    <option>Perú</option>
  </ui:Select>
</div>
<div class="row">
  <ui:Select label="Disabled" disabled>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </ui:Select>
  <ui:Select label="Loading" loading>
    <option>Option 1</option>
    <option>Option 2</option>
    <option selected>Option 3</option>
    <option>Option 4</option>
  </ui:Select>
</div>