<ui:Avatar.Group>
  <ui:Avatar src="/static/img/avatar1.jpg" />
  <ui:Avatar src="/static/img/avatar2.jpg" />
  <ui:Avatar src="/static/img/avatar3.jpg" />
  <ui:Avatar alt="+99" class="counter" />
</ui:Avatar.Group>
