<div class="row">
  <ui:Avatar.Group>
    <ui:Avatar src="/static/img/avatar1.jpg" size="xlarge" />
    <ui:Avatar src="/static/img/avatar2.jpg" size="xlarge" />
    <ui:Avatar src="/static/img/avatar3.jpg" size="xlarge" />
    <ui:Avatar src="/static/img/avatar4.jpg" size="xlarge" />
  </ui:Avatar.Group>
</div>
<div class="row">
  <ui:Avatar.Group>
    <ui:Avatar src="/static/img/avatar1.jpg" size="large" />
    <ui:Avatar src="/static/img/avatar2.jpg" size="large" />
    <ui:Avatar src="/static/img/avatar3.jpg" size="large" />
    <ui:Avatar src="/static/img/avatar4.jpg" size="large" />
  </ui:Avatar.Group>
</div>
<div class="row">
  <ui:Avatar.Group>
    <ui:Avatar src="/static/img/avatar1.jpg" />
    <ui:Avatar src="/static/img/avatar2.jpg" />
    <ui:Avatar src="/static/img/avatar3.jpg" />
    <ui:Avatar src="/static/img/avatar4.jpg" />
  </ui:Avatar.Group>
</div>
<div class="row">
  <ui:Avatar.Group>
    <ui:Avatar src="/static/img/avatar1.jpg" size="small" />
    <ui:Avatar src="/static/img/avatar2.jpg" size="small" />
    <ui:Avatar src="/static/img/avatar3.jpg" size="small" />
    <ui:Avatar src="/static/img/avatar4.jpg" size="small" />
  </ui:Avatar.Group>
</div>
<div class="row">
  <ui:Avatar.Group>
    <ui:Avatar src="/static/img/avatar1.jpg" size="mini" />
    <ui:Avatar src="/static/img/avatar2.jpg" size="mini" />
    <ui:Avatar src="/static/img/avatar3.jpg" size="mini" />
    <ui:Avatar src="/static/img/avatar4.jpg" size="mini" />
  </ui:Avatar.Group>
</div>