<div class="row">
  <ui:Avatar src="/static/img/avatar5.jpg" size="xlarge" on/>
  <ui:Avatar src="/static/img/avatar5.jpg" size="large" off/>
  <ui:Avatar src="/static/img/avatar5.jpg" on/>
  <ui:Avatar src="/static/img/avatar5.jpg" size="small" off/>
  <ui:Avatar src="/static/img/avatar5.jpg" size="mini" on/>
</div>

<div class="row">
  <ui:Avatar src="/static/img/avatar6.jpg" size="xlarge" square on/>
  <ui:Avatar src="/static/img/avatar6.jpg" size="large" square off/>
  <ui:Avatar src="/static/img/avatar6.jpg" square on/>
  <ui:Avatar src="/static/img/avatar6.jpg" size="small" square off/>
  <ui:Avatar src="/static/img/avatar6.jpg" size="mini" square on/>
</div>
