<ui:Avatar src="https://github.com/jpsca.png" size="small" />

<ui:Avatar src="https://github.com/jpsca.png" />

<ui:Avatar src="https://github.com/jpsca.png" size="large" />

<ui:Avatar src="https://github.com/jpsca.png" size="xlarge" />
