<ui:Avatar src="/static/img/avatar1.jpg" size="xlarge" />

<ui:Avatar src="/static/img/avatar1.jpg" size="large" />

<ui:Avatar src="/static/img/avatar1.jpg" />

<ui:Avatar src="/static/img/avatar1.jpg" size="small" />

<ui:Avatar src="/static/img/avatar1.jpg" size="mini" />

