<ui:Avatar src="/static/img/avatar1.jpg" size="xlarge" square />

<ui:Avatar src="/static/img/avatar1.jpg" size="large" square />

<ui:Avatar src="/static/img/avatar1.jpg" square />

<ui:Avatar src="/static/img/avatar1.jpg" size="small" square />

<ui:Avatar src="/static/img/avatar1.jpg" size="mini" square />

