{#def disabled=false, tag="div" #}
{#css jxui.css, menu/menu.css #}

{% if disabled -%}
  {% do attrs.set(class="jxui-disabled") %}
{%- endif %}

<{{ tag }} {{ attrs.render(
  class="jxui-menuitem",
  role="menuitem",
  tabindex="-1",
) }}>{{ content }}</{{ tag }}>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}