#pop-anchor-example {
  height: fit-content;
}

#anchor1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(255 255 255 / 0.1);
  border: 2px solid white;
  font-weight: bold;
  width: 400px;
  height: 220px;
  margin: 60px auto;
}

#pop-anchor-example .ui-pop {
  background-color: rgba(255 255 255 / 0.8);
  color: black;
  border: 2px solid black;
  font-weight: bold;
  padding: 10px;
}
