<div class="min-h-80 w-full max-w-xl px-2 py-16 mx-auto">
  <div id="pop-anchor-example" class="relative w-fit mx-auto">
    <div id="anchor1">ANCHOR</div>

    <Pop mode="manual" anchor="anchor1" anchor-to="left start">left start</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="left">left</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="left end">left end</Pop>

    <Pop mode="manual" anchor="anchor1" anchor-to="bottom start">bottom start</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="bottom">bottom</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="bottom end">bottom end</Pop>

    <Pop mode="manual" anchor="anchor1" anchor-to="right end">right end</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="right">right</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="right start">right start</Pop>

    <Pop mode="manual" anchor="anchor1" anchor-to="top end">top end</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="top">top</Pop>
    <Pop mode="manual" anchor="anchor1" anchor-to="top start">top start</Pop>
  </div>
</div>