<Details>
  <DetailsSummary>Is it accessible?</DetailsSummary>
  <DetailsContent>
    Yes, more than any custom disclose component you'll find on the web, because it's made
    with native elements.
  </DetailsContent>
</Details>