<div class="row">
  <ui:Button shape="circle" icon="refresh" size="xlarge" />
  <ui:Button shape="circle" icon="refresh" size="large" />
  <ui:Button shape="circle" icon="refresh" />
  <ui:Button shape="circle" icon="refresh" size="small" />
  <ui:Button shape="circle" icon="refresh" size="mini" />
</div>
<div class="row">
  <ui:Button shape="square" icon="alarm" size="xlarge" />
  <ui:Button shape="square" icon="alarm" size="large" />
  <ui:Button shape="square" icon="alarm" />
  <ui:Button shape="square" icon="alarm" size="small" />
  <ui:Button shape="square" icon="alarm" size="mini" />
</div>
<div class="row">
  <ui:Button block>Default block</ui:Button>
</div>
<div class="row">
  <ui:Button size="large" block>Large block</ui:Button>
</div>
<div class="row">
  <ui:Button size="xlarge" block>Big block</ui:Button>
</div>

