<div class="row">
  <ui:Button shape="circle" size="xlarge" icon="alarm" />
  <ui:Button shape="circle" size="large" icon="refresh" />
  <ui:Button shape="circle" icon="refresh" />
  <ui:Button shape="square" icon="refresh" />
  <ui:Button shape="square" size="small" icon="refresh" />
</div>
<div class="row">
  <ui:Button block>Default block</ui:Button>
</div>
<div class="row">
  <ui:Button size="large" block>Large block</ui:Button>
</div>
<div class="row">
  <ui:Button size="xlarge" block>Big block</ui:Button>
</div>

