<ui:Button loading>Loading</ui:Button>

<ui:Button disabled>Disabled</ui:Button>

<ui:Button href="#s-variants">This is a link</ui:Button>

<ui:Button href="#s-variants" disabled>Disabled link</ui:Button>