<div class="row">
  <ui:Button var="outline-primary">Outline Primary</ui:Button>
  <ui:Button var="outline-success">Outline Success</ui:Button>
  <ui:Button var="outline-warning">Outline Warning</ui:Button>
</div>
<div class="row">
  <ui:Button var="outline-primary" disabled>Disabled</ui:Button>
  <ui:Button var="outline-success" disabled>Disabled</ui:Button>
  <ui:Button var="outline-warning" disabled>Disabled</ui:Button>
</div>
<div class="row">
  <ui:Button var="outline-critical">Outline Critical</ui:Button>
  <ui:Button var="outline-option">Outline Option</ui:Button>
  <ui:Button var="outline-accent">Outline Accent</ui:Button>
</div>
<div class="row">
  <ui:Button var="outline-critical" disabled>Disabled</ui:Button>
  <ui:Button var="outline-option" disabled>Disabled</ui:Button>
  <ui:Button var="outline-accent" disabled>Disabled</ui:Button>
</div>