{#def language="html+jinja", embed=False #}

{% if embed %}
  {% do attrs.add_class("cd-Code--embed") %}
{% endif %}

<div {{ attrs.render(class="cd-Code") }}>
{% filter markdown %}
```{{ language }}
{{ content }}
```
{% endfilter %}
</div>