{#def name #}

{% set id = get_random_id() %}

<div {{ attrs.render(class="cd-Example not-prose") }} data-md-skip>
  <TabGroup class="cd-Example-TabGroup">
    <TabList class="cd-Example-TabList">
      <Tab class="cd-Example-Tab cd-Example-TabDemo" target={{ id + "-demo" }} selected={{ true }}>Result</Tab>
      <Tab class="cd-Example-Tab cd-Example-TabCode" target={{ id + "-code" }}>Code</Tab>
    </TabList>
    <TabPanel
      class="cd-Example-TabPanel cd-Example-TabPanel--demo scrollbar-thin"
      id={{ id + "-demo" }}
    >
      {{ catalog.irender(name) }}
    </TabPanel>
    <TabPanel
      class="cd-Example-TabPanel cd-Example-TabPanel--code scrollbar-thin"
      id={{ id + "-code" }}
      hidden
    >
      <Code embed>{{ catalog.get_source(name) }}</Code>
    </TabPanel>
  </TabGroup>
</div>
