{#def name, prefix #}

<div {{ attrs.render(class="cd-Example not-prose") }} data-md-skip>
  <TabGroup class="cd-Example-TabGroup">
    <TabList class="cd-Example-TabList">
      <Tab class="cd-Example-Tab" target={{ "ex-%s-demo" % prefix }} selected={{ true }}>Result</Tab>
      <Tab class="cd-Example-Tab" target={{ "ex-%s-code" % prefix }}>Code</Tab>
    </TabList>
    <TabPanel class="cd-Example-TabPanel cd-Example-TabPanel--demo" id={{ "ex-%s-demo" % prefix }}>
      {{ catalog.irender(name) }}
    </TabPanel>
    <TabPanel class="cd-Example-TabPanel cd-Example-TabPanel--code" id={{ "ex-%s-code" % prefix }} hidden>
      <Code embed>{{ catalog.get_source(name) }}</Code>
    </TabPanel>
  </TabGroup>
</div>
