{#def prefix, tabs, bgfrom="", bgto="" #}

<div {{ attrs.render(class="tExample not-prose") }}>
  <TabGroup class="example-tabgroup">
    <TabList class="example-tablist">
      {%- for text in tabs.keys() %}
      <Tab
        class="example-tab"
        :target="'ex-%s-%s' % (prefix, loop.index)""
        :selected="loop.index == 1"
    );"
      >{{ text }}</Tab>
      {%- endfor %}
    </TabList>
    {%- for name in tabs.values() %}
    <TabPanel
      class="example-tabpanel"
      :id="'ex-%s-%s' % (prefix, loop.index)"
      :hidden="loop.index != 1"
      :style="'background-image:linear-gradient(to right,' + bgfrom + ',' + bgto + ')'"
    >
      {{ catalog.irender(name) }}
    </TabPanel>
    {%- endfor %}
  </TabGroup>
</div>
