<footer {{ attrs.render(class="tFooter") }}>
  <div class="wrapper">
    <div class="copy">
      &copy; <a href="https://jpscaletti.com">Juan-Pablo Scaletti</a>
    </div>
    <div class="built-with">
      This site was
      <a title="Coming soon!">built using Claydocs</a>
    </div>
    <ThemeSwitch class="themeswitch" />
  </div>
</footer>
