<footer {{ attrs.render(class="theme-Footer") }}>
  <div class="wrapper">
    <div class="copy">
      <Copyright />
    </div>
    <div class="built-with">
      This site was
      <a title="Coming soon!">built using Claydocs</a>
    </div>
  </div>
</footer>
