{#def title="", section="" #}

{% set section = section or nav.page.section %}
{% set title = title or nav.page.title %}

<header {{ attrs.render(class="tHeader not-prose") }}>
  <div>
    {% if section -%}
    <p>{{ section }}</p>
    {%- endif %}
    <h1>
      <a tabindex="0" href="#">{{ title }}</a>
    </h1>
  </div>
  <p class="description">{{ content }}</p>
</header>
