<section class="tNavBar">
  <div class="wrapper">
    <Logo class="logo" :base_url="nav.base_url" />
    <NavLinks class="navLinks"></NavLinks>
    <ThemeSwitch class="themeswitch" :text="false" />
    <PopButton
      target="navMobile"
      title="Show menu"
      class="tTextButton toggleSidebar"
    >Menu</PopButton>
  </div>
</section>
