{#js toggle.js #}

<section class="tNavBar">
  <div class="wrapper">
    <Logo class="logo" :base_url="nav.base_url" />
    <NavLinks class="navLinks"></NavLinks>
    <TextButton title="Show menu" data_toggle="#navMobile|[open]" class="toggleSidebar">
      <div>Menu</div>
    </TextButton>
  </div>
</section>
