{% do attrs.set(id="navMobile", class="tNavMobile") %}

<Popover :__attrs="attrs">
  <header>
    <Logo :base_url="nav.base_url" class="logo" />
    <ThemeSwitch class="themeswitch" :text="false" />
    <PopButton
      target="navMobile"
      action="close"
      title="Close menu"
      class="text-button toggleSidebar"
    >Close</PopButton>
    </TextButton>
  </header>

  <NavLinks class="navLinks"></NavLinks>

  <Toc class="toc" :toc="nav.toc" :page="nav.page" />
</Popover>
