{#def title="" #}
<Layout
  :title="title"
  :description="meta.get('description', '')"
  class="tPage"
>
  <NavBar></NavBar>
  <div class="page-wrapper">
    <NavGlobal></NavGlobal>
    <main class="page">
      <div class="prose">
        {{ content }}
      </div>
      <PrevNext
        :curr="nav.page"
        :prev="nav.prev_page"
        :next="nav.next_page"
      />
    </main>
    <NavLocal></NavLocal>
  </div>
  <NavMobile></NavMobile>
  <Footer></Footer>
</Layout>
