{#def title="" #}
<Layout
  :title="title"
  :description="meta.get('description', '')"
  class="tPage"
>
  <NavBar />
  <div class="wrapper">
    <NavGlobal />
    <main class="page">
      <div class="prose">
        {{ content }}
      </div>
      <PrevNext
        :curr="nav.page"
        :prev="nav.prev_page"
        :next="nav.next_page"
      />
    </main>
    <NavLocal class="navLocal" />
  </div>
  <NavMobile />
  <Footer />
</Layout>
