{#def curr, prev, next #}

<nav {{ attrs.render(class="tPrevNext") }}>
  {% if prev.url -%}
  <a href="{{ prev.url }}" class="prev">
    <div class="section">
      {{ prev.section or "Previous" if prev.section != curr.section else "Previous" }}
    </div>
    <div class="title">
      <i class="icon">keyboard_arrow_left</i>{{ prev.title }}
    </div>
  </a>
  {%- endif %}
  {% if next.url -%}
  <a
    href="{{ next.url }}" class="next">
    <div class="section">
      {{ next.section or "Next" if next.section != curr.section else "Next" }}
    </div>
    <div class="title">
      {{ next.title }}<i class="icon">keyboard_arrow_right</i>
    </div>
  </a>
  {%- endif %}
</nav>
