{#def toc, max_depth=3 #}

{% macro render_sub_items(pages, depth=0) %}
{%- for url, title, children in pages %}
  <li><a href="{{ url }}" class="indent-{{ depth }}">{{ title }}</a></li>
  {% if depth < max_depth -%}
    {{ render_sub_items(children, depth) }}
  {%- endif %}
{%- endfor %}
{% endmacro %}

<ul {{ attrs.render(class="tTocPage") }}>
{%- for url, title, children in toc %}
  <li><a href="{{ url }}">{{ title }}</a></li>
  {{ render_sub_items(children, depth=1) }}
{%- endfor %}
</ul>
