<div>
  <h3>FAQ</h3>
  <ui:Details name="faq">
    <ui:Details.Summary>What is your refund policy?</ui:Details.Summary>
    <ui:Details.Panel>
      If you're unhappy with your purchase, we'll refund you in full.
    </ui:Details.Panel>
  </ui:Details>
  <ui:Details name="faq">
    <ui:Details.Summary>Do you offer technical support?</ui:Details.Summary>
    <ui:Details.Panel>
      No, use Google or something.
    </ui:Details.Panel>
  </ui:Details>
  <ui:Details name="faq">
    <ui:Details.Summary>How much wood could a woodchuck chuck if a woodchuck could chuck wood?</ui:Details.Summary>
    <ui:Details.Panel>
      If a woodchuck could chuck wood he would chuck as much wood as a woodchuck could chuck.
    </ui:Details.Panel>
  </ui:Details>
</div>