<ui:Details>
  <ui:Details.Summary>Is it accessible?</ui:Details.Summary>
  <ui:Details.Panel>
    Yes, more than any custom disclose component you'll find on the web, because it's made
    with native elements.
  </ui:Details.Panel>
</ui:Details>