<div class="w-full max-w-xl px-2 py-16 sm:mr-10">
  <div class="relative w-fit mx-auto">
    <MenuButton
      target="demo-menu-1"
      class="
        rounded py-1 px-4 border shadow-lg bg-black/10
      text-white font-semibold hover:bg-black/20"
    >Options ⌄</MenuButton>

    <Menu
      id="demo-menu-1"
      class="
        group
        absolute top-full left-1/2 -ml-32
        hidden [&[data-ui-open]]:block z-50
      "
      close_delay="200"
    >
      Meh
    </Menu>
</div>
