<div" class="h-96 w-full max-w-xl px-2 py-16 sm:mr-10">
  <div id="demo1" class="relative w-fit mx-auto">
    <MenuButton
      id="demo1-menu-btn"
      target="demo1-menu"
      class="
        rounded py-1 px-4 border shadow-lg bg-black/10
      text-white font-semibold hover:bg-black/20"
    >Menu </MenuButton>

    <Menu id="demo1-menu" anchor="demo1-menu-btn">
        <div class="group">
          <MenuItem>
            <i class="icon"></i>
            <a>New tab</a>
            <kbd>Ctrl+T</kbd>
          </MenuItem>
          <MenuItem>
            <i class="icon"></i>
            <a>New window</a>
            <kbd>Ctrl+N</kbd>
          </MenuItem>
          <MenuItem>
            <i class="icon"></i>
            <a>New Incognito window</a>
            <kbd>Ctrl+Shift+N</kbd>
          </MenuItem>
        </div>
        <div class="group">
          <MenuItem>
            <i class="icon"></i>
            <a>Downloads</a>
            <kbd>Ctrl+J</kbd>
          </MenuItem>
          <MenuItemSub id="bookmarks-item">
            <i class="icon"></i>
            <a>Bookmarks and lists</a>
            <kbd class="icon"></kbd>

            <Menu anchor="bookmarks-item" anchor-to="right start">
              <div class="group">
                <MenuItem>
                  <i class="icon"></i>
                  <a>Bookmark this tab...</a>
                  <kbd>Ctrl+D</kbd>
                </MenuItem>
                <MenuItem>
                  <i class="icon"></i>
                  <a>Bookmark all tabs...</a>
                  <kbd>Ctrl+Shift+D</kbd>
                </MenuItem>
              </div>
              <div class="group">
                <MenuItem>
                  <i class="icon"></i>
                  <a>Hide bookmarks bar</a>
                  <kbd>Ctrl+Shift+B</kbd>
                </MenuItem>
                <MenuItem>
                  <i class="icon"></i>
                  <a>Show all bookmarks</a>
                  <kbd></kbd>
                </MenuItem>
                <MenuItem>
                  <i class="icon"></i>
                  <a>Bookmark manager</a>
                  <kbd>Ctrl+Shift+O</kbd>
                </MenuItem>
              </div>
            </Menu>
          </MenuItemSub>
        </div>
        <div class="group">
          <MenuItem>
            <i class="icon"></i>
            <a>Print...</a>
            <kbd>Ctrl+P</kbd>
          </MenuItem>
          <MenuItem>
            <i class="icon"></i>
            <a>Help</a>
            <kbd></kbd>
          </MenuItem>
          <MenuItem>
            <i class="icon"></i>
            <a>Settings</a>
            <kbd></kbd>
          </MenuItem>
          <MenuItem>
            <i class="icon"></i>
            <a>Exit</a>
            <kbd></kbd>
          </MenuItem>
        </div>
    </Menu>
  </div>
</div>
