<div" class="h-96 w-full max-w-xl px-2 py-16 sm:mr-10">
  <div id="menu-demo" class="relative w-fit mx-auto">
    <MenuButton
      id="menu-demo-menu-btn"
      target="menu-demo-menu"
      class="
        rounded py-1 px-4 border shadow-lg bg-black/10
      text-white font-semibold hover:bg-black/20"
    >Menu </MenuButton>

    <Menu id="menu-demo-menu" anchor="menu-demo-menu-btn" anchor-to="bottom end">
      <div class="group">
        <MenuItem>
          <i class="icon">tab</i>
          <a>New tab</a>
          <kbd>Ctrl+T</kbd>
        </MenuItem>
        <MenuItem>
          <i class="icon">new_window</i>
          <a>New window</a>
          <kbd>Ctrl+N</kbd>
        </MenuItem>
        <MenuItem disabled>
          <i class="icon">fingerprint_off</i>
          <a>New Incognito window</a>
          <kbd>Ctrl+Shift+N</kbd>
        </MenuItem>
      </div>
      <div class="group">
        <MenuItem>
          <i class="icon">download</i>
          <a>Downloads</a>
          <kbd>Ctrl+J</kbd>
        </MenuItem>
        <MenuItemSub id="bookmarks-item">
          <i class="icon">bookmarks</i>
          <a>Bookmarks and lists</a>
          <span class="icon arrow">arrow_forward_ios</span>

          <Menu anchor="bookmarks-item" anchor_to="right start">
            <div class="group">
              <MenuItem>
                <i class="icon">bookmark_add</i>
                <a>Bookmark this tab...</a>
                <kbd>Ctrl+D</kbd>
              </MenuItem>
              <MenuItem>
                <i class="icon">bookmarks</i>
                <a>Bookmark all tabs...</a>
                <kbd>Ctrl+Shift+D</kbd>
              </MenuItem>
            </div>
            <div class="group">
              <MenuItem>
                <i class="icon">toolbar</i>
                <a>Hide bookmarks bar</a>
                <kbd>Ctrl+Shift+B</kbd>
              </MenuItem>
              <MenuItem>
                <i class="icon">bookmarks</i>
                <a>Show all bookmarks</a>
              </MenuItem>
              <MenuItem>
                <i class="icon">bookmark_manager</i>
                <a>Bookmark manager</a>
                <kbd>Ctrl+Shift+O</kbd>
              </MenuItem>
            </div>
          </Menu>
        </MenuItemSub>
      </div>
      <div class="group">
        <MenuItem>
          <i class="icon">print</i>
          <a>Print...</a>
          <kbd>Ctrl+P</kbd>
        </MenuItem>
        <MenuItem>
          <i class="icon">help</i>
          <a>Help</a>
        </MenuItem>
        <MenuItem>
          <i class="icon">settings</i>
          <a>Settings</a>
        </MenuItem>
        <MenuItem>
          <i class="icon">exit_to_app</i>
          <a>Exit</a>
        </MenuItem>
      </div>
    </Menu>
  </div>
</div>
