#demo1 .group:not([hidden]) ~ .group:not([hidden]) {
  border-top: 1px solid #d1d5db;
}

#demo1 .ui-menu {
  margin-top: 4px;
  padding: 8px 0;
  border-radius: 8px;
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 4px rgba(0, 0, 0, 0.2), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  overflow: visible;
  font-size: 1rem;
  font-weight: 400;
}

#demo1 .ui-menu .ui-menu {
  position: absolute;
  margin: 0 0 0 -4px;
  width: 300px;
  z-index: 1;
}

#demo1 .ui-menu * {
  user-select: none;
}

#demo1 .ui-menuitem {
  display: flex;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  justify-items: flex-start;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  cursor: default;
  user-select: none;
  position: relative;
}

#demo1 .ui-menuitem.ui-selected {
  background-color: #f2e7e4;
}

#demo1 .ui-menuitem.ui-disabled {
  color: #5f6368;
}

#demo1 .ui-menuitem .icon {
  width: 16px;
  text-align: center;
}

#demo1 .ui-menuitem.ui-disabled .icon {
  color: #aca6a7;
}

#demo1 .ui-menuitem a {
  flex-grow: 1;
}
#demo1 .ui-menuitem kbd {
  margin-left: auto;
  font-family: sans-serif;
  font-size: 0.95rem;
}