<ui:Tooltip text="This is a tooltip" position="left">
  <ui:Button>Left</ui:Button>
</ui:Tooltip>
<ui:Tooltip text="This is a tooltip" position="bottom">
  <ui:Button>Bottom</ui:Button>
</ui:Tooltip>
<ui:Tooltip text="This is a tooltip" position="top">
  <ui:Button>Top</ui:Button>
</ui:Tooltip>
<ui:Tooltip text="This is a tooltip" position="right">
  <ui:Button>Right</ui:Button>
</ui:Tooltip>