{#def title=None, icon=None, type="info", dismissable=False #}
{#css jxui.css, alert.css, tooltip.css #}
{#js jxui.js #}

{% if type not in ["critical", "info", "success", "option", "warning"] %}
  {% set type = "info" %}
{% endif %}

{% if not icon %}
  {% set icon = {
    "critical": "error",
    "info": "info",
    "success": "check_circle",
    "option": "add_circle",
    "warning": "warning"
  }[type] %}
{% endif %}

{% do attrs.set(data_type=type) %}

{% if title %}
  {% do attrs.add_class("jxui-alert--entitled") %}
{% endif %}

<section {{ attrs.render(class="jxui-alert", role="alert") }}>
  <div class="jxui-alert-icon">
    <Icon name={{ icon }} />
  </div>
  <div class="jxui-alert-content">
    {% if title %}<h2 class="jxui-alert-title">{{ title }}</h2>{% endif %}
    {{ content }}
  </div>
  {% if dismissable %}
    <Button look="ghost" shape="square" size="mini" class="jxui-alert-dismiss" aria-label="Dismiss alert" aria-hidden="true" title="Dismiss alert" data-tooltip>
      <Icon name="close" />
    </Button>
  {% endif %}
</section>