.jxui-Alert {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 1rem;
  color: attr(data-color color, #0a0a0a);
  border-color: attr(data-color color, #0a0a0a);
  background-color: white;
  font-size: 1rem;
}

.jxui-Alert > svg,
.jxui-Alert > .icon {
  position: absolute;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  font-size: 1.2rem;
}
.jxui-Alert > svg ~ *,
.jxui-Alert > .icon ~ * {
  padding-left: 1.75rem;
}

.jxui-AlertTitle {
  margin-bottom: 0.25rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}
.jxui-AlertDescription {
  line-height: 1.6;
}