.jxui-alert[data-var="critical"],
.jxui-alert[data-var="red"] {
  --alert-bgColor: var(--ui-color-red-0);
  --alert-borderColor: var(--ui-color-red-2);
  --alert-iconColor: var(--ui-color-red-3);
}
.jxui-alert[data-var="info"],
.jxui-alert[data-var="blue"] {
  --alert-bgColor: var(--ui-color-blue-0);
  --alert-borderColor: var(--ui-color-blue-2);
  --alert-iconColor: var(--ui-color-blue-3);
}
.jxui-alert[data-var="success"],
.jxui-alert[data-var="green"] {
  --alert-bgColor: var(--ui-color-green-0);
  --alert-borderColor: var(--ui-color-green-2);
  --alert-iconColor: var(--ui-color-green-4);
}
.jxui-alert[data-var="option"],
.jxui-alert[data-var="purple"] {
  --alert-bgColor: var(--ui-color-purple-0);
  --alert-borderColor: var(--ui-color-purple-2);
  --alert-iconColor: var(--ui-color-purple-3);
}
.jxui-alert[data-var="warning"],
.jxui-alert[data-var="yellow"] {
  --alert-bgColor: var(--ui-color-yellow-0);
  --alert-borderColor: var(--ui-color-yellow-2);
  --alert-iconColor: var(--ui-color-yellow-5);
}
.jxui-alert[data-var="alert"],
.jxui-alert[data-var="orange"] {
  --alert-bgColor: var(--ui-color-orange-0);
  --alert-borderColor: var(--ui-color-orange-2);
  --alert-iconColor: var(--ui-color-orange-5);
}
.jxui-alert[data-var="note"],
.jxui-alert[data-var="brown"] {
  --alert-bgColor: var(--ui-color-brown-0);
  --alert-borderColor: var(--ui-color-brown-2);
  --alert-iconColor: var(--ui-color-brown-4);
}

.jxui-alert {
  position: relative;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--alert-bgColor, #fff);
  border: 1px solid var(--alert-borderColor, #444);
}

.jxui-alert-icon,
.jxui-alert-dismiss {
  color: var(--alert-iconColor, #222) !important;
  line-height: 1;
}
.jxui-alert-icon {
  margin-top: 6px;
  font-size: var(--ui-font-size-xl);
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.jxui-alert-dismiss {
  --font-size: var(--ui-font-size-lg);
  margin-top: 2px;
}

.jxui-alert-content {
  font-size: var(--ui-font-size-md);
  padding: 0 10px 0 8px;
  display: block;
  flex-grow: 1;
}

.jxui-alert-title {
  font-size: inherit;
  font-weight: 600;
  padding: 2px 10px 0;
  margin: 0;
}

.jxui-alert-description {
  padding: 0 10px;
  margin: 0;
  flex-grow: 1;
}

.jxui-alert-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--4px);
  flex-wrap: nowrap;
  align-self: flex-start;
  font-size: var(--ui-font-size-sm);
  padding: 10px 0 5px;
  flex-direction: row;
}

.jxui-alert{
  container: alert / inline-size;
}

@container alert (min-width: 32rem) {
  .jxui-alert-content:not(.jxui-alert--entitled .jxui-alert-content) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .jxui-alert-actions:not(.jxui-alert--entitled .jxui-alert-actions) {
    padding: 0;
    flex-direction: row-reverse;
  }
}
