.jxui-alert[data-type="critical"] {
  --alert-bgColor: var(--jxui-color-critical-subtle);
  --alert-borderColor: var(--jxui-color-critical-muted);
  --alert-iconColor: var(--jxui-color-critical-fg);
}
.jxui-alert[data-type="info"] {
  --alert-bgColor: var(--jxui-color-info-subtle);
  --alert-borderColor: var(--jxui-color-info-muted);
  --alert-iconColor: var(--jxui-color-info-fg);
}
.jxui-alert[data-type="success"] {
  --alert-bgColor: var(--jxui-color-success-subtle);
  --alert-borderColor: var(--jxui-color-success-muted);
  --alert-icon-fgColor: var(--jxui-color-success-fg);
}
.jxui-alert[data-type="option"] {
  --alert-bgColor: var(--jxui-color-option-subtle);
  --alert-borderColor: var(--jxui-color-option-muted);
  --alert-iconColor: var(--jxui-color-option-fg);
}
.jxui-alert[data-type="warning"] {
  --alert-bgColor: var(--jxui-color-warning-subtle);
  --alert-borderColor: var(--jxui-color-warning-muted);
  --alert-iconColor: var(--jxui-color-warning-fg);
}

.jxui-alert {
  position: relative;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--alert-bgColor, #fff);
  border: 1px solid var(--alert-borderColor, #444);
}

.jxui-alert-icon,
.jxui-alert-dismiss {
  color: var(--alert-iconColor, #222) !important;
  line-height: 1;
}
.jxui-alert-icon {
  margin-top: 6px;
  font-size: 1.1em;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.jxui-alert-dismiss {
  margin-top: 2px;
}

.jxui-alert-content {
  font-size: var(--jxui-font-size-md);
  padding: 0 10px 0 8px;
  display: block;
  flex-grow: 1;
}

.jxui-alert-title {
  font-size: inherit;
  font-weight: 600;
  padding: 2px 10px 0;
  margin: 0;
}

.jxui-alert-description {
  padding: 0 10px;
  margin: 0;
  flex-grow: 1;
}

.jxui-alert-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--4px);
  flex-wrap: nowrap;
  align-self: flex-start;
  font-size: var(--jxui-font-size-sm);
  padding: 10px 0 5px;
  flex-direction: row;
}

.jxui-alert{
  container: alert / inline-size;
}

@container alert (min-width: 32rem) {
  .jxui-alert-content:not(.jxui-alert--entitled .jxui-alert-content) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .jxui-alert-actions:not(.jxui-alert--entitled .jxui-alert-actions) {
    padding: 0;
    flex-direction: row-reverse;
  }
}
