.jxui-Alert[data-variant="critical"] {
  --alert-bgColor: var(--color-critical-subtle);
  --alert-borderColor: var(--color-critical-muted);
  --alert-iconColor: var(--color-critical-fg);
}
.jxui-Alert[data-variant="info"] {
  --alert-bgColor: var(--color-info-subtle);
  --alert-borderColor: var(--color-info-muted);
  --alert-iconColor: var(--color-info-fg);
}
.jxui-Alert[data-variant="success"] {
  --alert-bgColor: var(--color-success-subtle);
  --alert-borderColor: var(--color-success-muted);
  --alert-icon-fgColor: var(--color-success-fg);
}
.jxui-Alert[data-variant="option"] {
  --alert-bgColor: var(--color-option-subtle);
  --alert-borderColor: var(--color-option-muted);
  --alert-iconColor: var(--color-option-fg);
}
.jxui-Alert[data-variant="warning"] {
  --alert-bgColor: var(--color-warning-subtle);
  --alert-borderColor: var(--color-warning-muted);
  --alert-iconColor: var(--color-warning-fg);
}

.jxui-Alert {
  position: relative;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--alert-bgColor, #fff);
  border: 1px solid var(--alert-borderColor, #444);
}

.jxui-Alert-icon,
.jxui-Alert-dismiss {
  color: var(--alert-iconColor, #222) !important;
  line-height: 1;
}
.jxui-Alert-icon {
  margin-top: 8px;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.jxui-Alert-dismiss {
  margin-top: 2px;
}

.jxui-Alert-content {
  font-size: var(--font-size-md);
  padding: 0 10px 0 0;
  display: block;
  flex-grow: 1;
}

.jxui-Alert-title {
  font-size: inherit;
  font-weight: 600;
  padding: 2px 10px 0;
  margin: 0;
}

.jxui-AlertDescription {
  padding: 0 10px;
  margin: 0;
  flex-grow: 1;
}

.jxui-AlertActions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--4px);
  flex-wrap: nowrap;
  align-self: flex-start;
  font-size: var(--font-size-sm);
  padding: 10px 0 5px;
  flex-direction: row;
}

.jxui-Alert{
  container: alert / inline-size;
}

@container alert (min-width: 32rem) {
  .jxui-Alert-content:not(.jxui-Alert--entitled .jxui-Alert-content) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .jxui-AlertActions:not(.jxui-Alert--entitled .jxui-AlertActions) {
    padding: 0;
    flex-direction: row-reverse;
  }
}
