{#def title=None, icon=None, variant="info", dismissable=False #}
{#css jxui.css, Alert.css, Tooltip.css #}
{#js jxui.js, Tooltip.js #}

{% if variant not in ["critical", "info", "success", "option", "warning"] %}
  {% set variant = "info" %}
{% endif %}

{% if not icon %}
  {% set icon = {
    "critical": "error",
    "info": "info",
    "success": "check_circle",
    "option": "add_circle",
    "warning": "warning"
  }[variant] %}
{% endif %}

{% do attrs.set(data_variant=variant) %}

{% if title %}
  {% do attrs.add_class("jxui-Alert--entitled") %}
{% endif %}

<section {{ attrs.render(class="jxui-Alert", role="alert") }}>
  <div class="jxui-Alert-icon">
    <i class="icon">{{ icon }}</i>
  </div>
  <div class="jxui-Alert-content">
    {% if title %}<h2 class="jxui-Alert-title">{{ title }}</h2>{% endif %}
    {{ content }}
  </div>
  {% if dismissable %}
    <Button variant="ghost" shape="square" size="mini" class="jxui-Alert-dismiss" aria-label="Dismiss alert" aria-hidden="true" title="Dismiss alert" data-tooltip>
      <i class="icon">close</i>
    </Button>
  {% endif %}
</section>