.jxui-avatar {
  position: relative;
  display: flex;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid var(--ui-color-border-muted);
  font-size: var(--ui-font-size-sm);
  font-weight: bold;
  border-radius: 100%;
  background-color: var(--ui-color-bg-panel);
}
.jxui-avatar > * {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.jxui-avatar > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}