{#def src="", fallback="" #}
{#css jxui.css, avatar.css #}

<span {{ attrs.render(class="jxui-avatar") }}>
  <span>{{ fallback }}</span>
  {% if src -%}
    <img src="{{ src }}" onload="this.style.display='block'" />
  {%- endif %}
</span>