{#def var=None, size=None #}

{% if var %}  {# *default, outline, blue, green, yellow, orange, red, purple, brown #}
{% do attrs.set(data_var=var) %}
{% endif %}
{% if size %}  {# small, *medium, large #}
{% do attrs.set(data_size=size) %}
{% endif %}

<span {{ attrs.render(class="jxui-badge") }}>{{ content }}</span>