{#def var: str = "", size: str = "" #}

{% if var %}
{% do attrs.set(data_var=var) %}
{% endif %}
{% if size %}
{% do attrs.set(data_size=size) %}
{% endif %}

<span {{ attrs.render(class="jxui-badge") }}>{{ content }}</span>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}