{#def look=None, size=None #}

{% if look %}  {# *default, outline, blue, green, yellow, orange, red, purple, brown #}
{% do attrs.set(data_look=look) %}
{% endif %}
{% if size %}  {# small, *medium, large #}
{% do attrs.set(data_size=size) %}
{% endif %}

<span {{ attrs.render(class="jxui-badge") }}>{{ content }}</span>