  .jxui-Button {
    appearance: none;
    background: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    font-family: inherit;
    font-weight: 500;
    min-inline-size: min-content;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 0.5rem;
    grid-gap: 0.4rem;
    font-size: 1rem;
    line-height: 1;
    padding: 0.7rem 1rem 0.6rem;
    border-width: 1px;
    border-style: solid;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease,
      box-shadow 0.3s ease,
      outline-color 0.2s linear;

    box-shadow: 0px 0px 6px 2px rgba(30, 30, 30, 0.2);
    outline: 3px solid transparent;
    outline-offset: 0px;

    --color: rgb(0, 0, 0);
    --bg: rgb(240, 240, 240);
    --border: rgb(198, 198, 198);

    --color-hover: rgb(0, 0, 0);
    --bg-hover: rgb(230, 230, 230);
    --border-hover: rgb(198, 198, 198);

    --color-active: rgb(0, 0, 0);
    --bg-active: rgb(226, 226, 226);
    --border-active: rgb(198, 198, 198);

    --outline: rgba(120, 120, 120, 0.1);

    color: var(--color);
    background-color: var(--bg);
    border-color: var(--border);
  }
  .jxui-Button:hover:not([disabled]),
  .jxui-Button:focus-visible:not([disabled]) {
    outline-color: var(--outline);
    color: var(--color-hover);
    background-color: var(--bg-hover);
    border-color: var(--border-hover);
  }
  .jxui-Button:active:not([disabled])  {
    color: var(--color-active);
    background-color: var(--bg-active);
    border-color: var(--border-active);
    box-shadow:
      inset 1px 2px 4px rgba(30, 30, 30, 0.2),
      1px 1px 2px rgba(0, 0, 0, 0.05);
    outline-color: transparent;
  }
  .jxui-Button[disabled],
  .jxui-Button[disabled]:hover,
  .jxui-Button[disabled]:focus-visible,
  .jxui-Button[disabled]:active {
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }

  /* Icons */
  .jxui-Button svg,
  .jxui-Button .icon {
    max-height: 1.2em;
    aspect-ratio: 1;
    line-height: 1.1;
  }

  /* Variants */
  .jxui-Button--ghost {
    --bg: transparent;
    --border: transparent;
    --border-hover: rgb(240, 240, 240);
    --bg-hover: rgb(240, 240, 240);
    --border-active: rgb(198, 198, 198);
    --bg-active: rgb(224, 224, 224);

    box-shadow: none;
  }
  .jxui-Button--ghost:hover:not([disabled]) {
    outline-color: transparent;
  }

  .jxui-Button--ghost:hover:not([disabled]),
  .jxui-Button--ghost:focus-visible:not([disabled]) {
    box-shadow: 0px 0px 0px 3px rgba(30, 30, 30, 0.1);
  }
  .jxui-Button--ghost:active:not([disabled])  {
    box-shadow:
      inset 1px 2px 4px rgba(30, 30, 30, 0.2),
      1px 1px 2px rgba(0, 0, 0, 0.05);
  }

  .jxui-Button--link {
    --color: rgb(75, 117, 231);
    --bg: transparent;
    --border: transparent;
    --color-hover: rgb(44, 93, 226);
    --bg-hover: transparent;
    --border-hover: transparent;
    --color-active: rgb(29, 79, 215);
    --bg-active: transparent;
    --border-active: transparent;

    box-shadow: none;
    outline: none;
  }
  .jxui-Button--link:hover:not([disabled]) {
    outline: none;
  }
  .jxui-Button--link:hover:not([disabled]),
  .jxui-Button--link:focus-visible:not([disabled]) {
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  .jxui-Button--link:active:not([disabled]) {
    box-shadow: none;
    text-decoration: none;
  }

  /* Size modifiers */
  .jxui-Button--d-large {
    font-size: 1.2rem;
    padding: 1rem 1.8rem 0.9rem;
  }
  .jxui-Button--d-small {
    font-size: 0.8rem;
    padding: 0.35rem 0.75rem 0.25rem;
  }
  .jxui-Button--d-mini {
    font-size: 0.75rem;
    padding: 0.07rem 0.25rem 0.05rem;
  }

  /* Shape modifiers */
  .jxui-Button--s-circle {
    border-radius: 100%;
    padding: 0.6rem;
    line-height: 1;
  }
  .jxui-Button--s-circle svg,
  .jxui-Button--s-circle .icon {
    font-size: 1.2em;
    line-height: 1;
  }

  .jxui-Button--d-large.jxui-Button--s-circle {
    padding: 0.9rem;
  }
  .jxui-Button--d-large.jxui-Button--s-circle svg,
  .jxui-Button--d-large.jxui-Button--s-circle .icon {
    max-height: 1.5em;
    font-size: 1.5em;
  }
  .jxui-Button--s-block {
    width: 100%;
  }
