button.jxui-button,
a.jxui-button,
a.jxui-button[href],
.jxui-button {
  display: inline-flex;
  appearance: none;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  font-family: inherit;
  min-inline-size: min-content;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  border-radius: var(--ui-border-radius-lg);
  line-height: 1;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, outline-color;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  box-shadow: 0px 1px 1px 0px rgba(17, 17, 17, 0.1);
  outline: 4px solid transparent;
  outline-offset: 1px;
  text-decoration: none !important;

  --color: var(--ui-color-neutral-14);
  --bg: var(--ui-color-neutral-2);
  --border: var(--ui-color-border-default);

  --color-hover: var(--ui-color-neutral-14);
  --bg-hover: var(--ui-color-neutral-3);
  --border-hover: var(--ui-color-border-default);

  --color-active: var(--ui-color-neutral-14);
  --bg-active: var(--ui-color-neutral-4);
  --border-active: var(--ui-color-neutral-5);

  --outline: rgba(0, 94, 255, 0.1);

  color: var(--color);
  background: var(--bg);
  border: 1px solid var(--border);
}

.jxui-button:hover:not([disabled]),
.jxui-button:focus-visible:not([disabled]),
.jxui-button:hover:not([data-disabled]),
.jxui-button:focus-visible:not([data-disabled]) {
  color: var(--color-hover);
  background: var(--bg-hover);
  border-color: var(--border-hover);
  text-decoration: none;
}

.jxui-button:focus-visible:not([disabled]),
.jxui-button:focus-visible:not([data-disabled]) {
  outline-color: var(--outline);
}

.jxui-button:active:not([disabled]),
.jxui-button:active:not([data-disabled]) {
  color: var(--color-active);
  background: var(--bg-active);
  border-color: var(--border-active);
  outline-color: transparent;
  text-decoration: none;
  box-shadow:
    inset 1px 2px 4px rgba(30, 30, 30, 0.2),
    1px 1px 2px rgba(0, 0, 0, 0.05);
}

.jxui-button[disabled],
.jxui-button[disabled]:hover,
.jxui-button[disabled]:focus-visible,
.jxui-button[disabled]:active,
.jxui-button[data-disabled],
.jxui-button[data-disabled]:hover,
.jxui-button[data-disabled]:focus-visible,
.jxui-button[data-disabled]:active{
  opacity: 0.6;
  box-shadow: none;
}

.jxui-button-icon {
  line-height: 1;
  font-size: 1.125em;
}

/**************** Sizes ****************/
.jxui-button {
  font-size: var(--font-size, --15px);
  gap: var(--8px);
  height: var(--40px);
  width: auto;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 16px;
}
.jxui-button[data-size="mini"] {
  font-size: var(--font-size, var(--ui-font-size-xs));
  gap: var(--4px);
  height: var(--28px);
  padding: 0 8px;
}
.jxui-button[data-size="small"] {
  font-size: var(--font-size, var(--ui-font-size-sm));
  gap: var(--6px);
  height: var(--32px);
  padding: 0 12px;
}
.jxui-button[data-size="large"] {
  font-size: var(--font-size, var(--ui-font-size-lg));
  gap: var(--8px);
  height: var(--48px);
  padding: 0 20px;
}
.jxui-button[data-size="big"] {
  font-size: var(--font-size, var(--ui-font-size-xl));
  gap: var(--10px);
  height: var(--64px);
  padding: 0 24px;
}

/**************** Shapes ****************/
.jxui-button[data-shape="square"],
.jxui-button[data-shape="circle"] {
  line-height: 1;
  font-size: var(--font-size, var(--ui-font-size-lg));
  padding: 0;
  aspect-ratio: 1;
  width: var(--40px);
}
.jxui-button[data-shape="square"][data-size="mini"],
.jxui-button[data-shape="circle"][data-size="mini"] {
  width: var(--28px);
  font-size: var(--font-size, var(--ui-font-size-xs));
}
.jxui-button[data-shape="square"][data-size="small"],
.jxui-button[data-shape="circle"][data-size="small"] {
  width: var(--32px);
  font-size: var(--font-size, var(--ui-font-size-sm));
}
.jxui-button[data-shape="square"][data-size="large"],
.jxui-button[data-shape="circle"][data-size="large"] {
  width: var(--48px);
  font-size: var(--font-size, var(--ui-font-size-xl));
}
.jxui-button[data-shape="square"][data-size="big"],
.jxui-button[data-shape="circle"][data-size="big"] {
  width: var(--64px);
  font-size: var(--font-size, var(--ui-font-size-xl));
}
.jxui-button[data-shape="circle"] {
  border-radius: 100%;
}
.jxui-button[data-shape="square"] {
  border-radius: var(--ui-border-radius);
}
.jxui-button[data-shape="block"] {
  width: 100%;
}


/**************** Types ****************/
.jxui-button[data-look="ghost"] {
  --bg: transparent;
  --border: transparent;
  --bg-hover: transparent;
  box-shadow: none;
}
.jxui-button[data-look="ghost"]:active:not([disabled]),
.jxui-button[data-look="ghost"]:active:not([data-disabled]) {
  box-shadow:
    inset 1px 2px 4px rgba(30, 30, 30, 0.2),
    1px 1px 2px rgba(0, 0, 0, 0.05);
}

.jxui-button[data-look="outline"] {
  --bg: transparent;
  --bg-hover: transparent;
  box-shadow: none;
}
.jxui-button[data-look="outline"]:active:not([disabled]),
.jxui-button[data-look="outline"]:active:not([data-disabled]) {
  box-shadow:
    inset 1px 2px 4px rgba(30, 30, 30, 0.2),
    1px 1px 2px rgba(0, 0, 0, 0.05);
}

.jxui-button[data-look="text"] {
  --color: var(--ui-color-blue-4);
  --bg: transparent;
  --border: transparent;
  --color-hover: var(--ui-color-blue-4);
  --bg-hover: transparent;
  --border-hover: transparent;
  --color-active: var(--ui-color-blue-5);
  --bg-active: transparent;
  --border-active: transparent;

  box-shadow: none;
}

.jxui-button[data-look="text"]:hover:not([disabled]),
.jxui-button[data-look="text"]:focus-visible:not([disabled]),
.jxui-button[data-look="text"]:hover:not([data-disabled]),
.jxui-button[data-look="text"]:focus-visible:not([data-disabled]) {
  box-shadow: none;
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

.jxui-button[data-look="text"]:active:not([disabled])
.jxui-button[data-look="text"]:active:not([data-disabled]) {
  box-shadow: none;
  text-decoration: none !important;
}

.jxui-button-label {
  line-height: 1;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}