{#def tag=None, icon=None, href=None, variant=None, size=None, shape=None #}
{#css jxui.css, Button.css #}

{% if not tag %}
  {% if href %}
    {% set tag = "a" %}
  {% else %}
    {% set tag = "button" %}
  {% endif %}
{% endif %}

{% if tag == "button" %}
  {% do attrs.setdefault(type="button") %}
{% endif %}

{% if variant in ("ghost", "text") %}
  {% do attrs.set(data_variant=variant) %}
{% endif %}

{% if size in ("mini", "small", "large", "big") %}
  {% do attrs.set(data_size=size) %}
{% endif %}

{% if shape in ("block", "circle", "square") %}
  {% do attrs.set(data_shape=shape) %}
{% endif %}

<{{ tag }} {{ attrs.render(
  class="jxui-Button",
  href=href,
) }}>
  {%- if icon %}<i class="icon jxui-Button-icon">{{ icon }}</i>{% endif -%}
  {%- if content %}<span class="jxui-Button-label">{{ content }}</span>{% endif -%}
</{{ tag }}>