{#def
  tag=None,
  icon=None,
  href=None,
  look=None,
  size=None,
  shape=None,
  block=False,
#}
{#css jxui.css, button.css #}

{% if not tag %}
  {% if href %}
    {% set tag = "a" %}
  {% else %}
    {% set tag = "button" %}
  {% endif %}
{% endif %}

{% if tag == "button" %}
  {% do attrs.setdefault(type="button") %}
{% endif %}

{% if look %} {# "ghost", "text" #}
  {% do attrs.set(data_look=look) %}
{% endif %}

{% if size %} {# "mini", "small", "large", "big" #}
  {% do attrs.set(data_size=size) %}
{% endif %}

{% if block %}
  {% set shape = "block" %}
{% endif %}
{% if shape %}
  {% do attrs.set(data_shape=shape) %}
{% endif %}

<{{ tag }} {{ attrs.render(
  class="jxui-button",
  href=href,
) }}>
  {%- if icon %}<Icon class="jxui-button-icon" name={{ icon }} />{% endif -%}
  {%- if content %}<span class="jxui-button-label">{{ content }}</span>{% endif -%}
</{{ tag }}>