.jxui-checkbox {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--4px) var(--8px);
  flex-wrap: wrap;
}

.jxui-checkbox-input {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 2px;
  border-radius: 4px;
  width: var(--20px);
  aspect-ratio: 1;
  appearance: none;
  background-color: var(--ui-bg-canvas);
  border: 2px solid var(--ui-border-default);
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
}
.jxui-checkbox-input:focus-visible {
  border-color: var(--ui-accent-fg);
  outline: 2px solid var(--ui-accent-fg);
  outline-offset: -1px;
}
.jxui-checkbox-input:checked::after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: var(--ui-font-size-md);
  text-align: center;
  background: var(--ui-bg-canvas);
  border: 4px solid transparent;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  transition-property: background-color;
  pointer-events: none;
}
.jxui-checkbox-input:checked::after {
  background-color: var(--ui-accent-fg);
  border-color: var(--ui-bg-canvas);
}
.jxui-checkbox-input:checked {
  border-color: var(--ui-accent-fg);
}

[data-disabled] > .jxui-checkbox-input {
  background-color: var(--ui-bg-disabled);
  border-color: var(--ui-border-disabled);
  color: var(--ui-fg-muted);
  cursor: default;
}
[data-size="large"] > .jxui-checkbox-input {
  width: 1.5rem;
}
[data-size="large"] > .jxui-checkbox-input:checked::after {
  border-width: 5px;
}


.jxui-checkbox-icon {
  color: var(--ui-fg-muted);
  font-size: var(--ui-font-size-lg);
  line-height: 1.4;
}