{#def
  label: str = "Default label",
  id: str | None = None,
  caption: str | None = None,
  icon: str | None = None,
  size: str | None = None,
  block: bool = False,
  required: bool = False,
  disabled: bool = False,
  loading: bool = False,
  valid: str | None = None,
  invalid: str | None = None,
#}
{#css checkbox.css #}

{% set id = id or get_random_id() %}
{% set caption = caption or content() %}

{% if caption %}
  {% do attrs.set(aria_describedby=id + "-caption") %}
{% endif %}

<FormField
  class="jxui-checkbox"
  id={{id}}
  caption={{caption}}
  size={{size}}
  block={{block}}
  required={{required}}
  disabled={{disabled}}
  loading={{loading}}
  valid={{valid}}
  invalid={{invalid}}
>
  <input {{ attrs.render(
    class="jxui-checkbox-input",
    type="checkbox",
    id=id,
    required=required,
    disabled=disabled,
  ) }} />
  {% if icon -%}
    <Icon class="jxui-checkbox-icon" name={{ icon }} />
  {% endif -%}
  <div>
    <FormLabel for={{id}}>{{ label }}</FormLabel>
    {% if caption -%}
      <FormCaption id={{id + "-caption"}}>{{ caption }}</FormCaption>
    {%- endif %}
  </div>
</FormField>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}