{#def id, close_delay=0 #}
{#css jxui.css, dialog.css #}
{#js stimulus-3.2.2.js, dialog-controller.js #}

<dialog {{ attrs.render(
  class="jxui-dialog",
  id=id,
  data_close_delay=close_delay,
) }}>{{ content }}</dialog>