{#def id, close_delay=0 #}
{#css dialog.css #}
{#js dialog.js #}

<dialog {{ attrs.render(
  class="jxui-dialog",
  id=id,
  data_close_delay=close_delay,
) }}>{{ content }}</dialog>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}