{#def id, close_delay=0 #}
{#css jxui.css, Dialog.css #}
{#js jxui.js, Dialog.js #}

<dialog {{ attrs.render(
  class="jxui-Dialog",
  id=id,
  data_close_delay=close_delay,
) }}>{{ content }}</dialog>