{#def valid=None, invalid=None #}
{#css jxui.css, FormValidation.css #}

{% if valid -%}
  <span class="jxui-FormValid"><i class="icon">check</i> {{ valid }}</span>
{%- endif %}
{% if invalid -%}
  <span class="jxui-FormInvalid"><i class="icon">check</i> {{ invalid }}</span>
{%- endif %}
