.jxui-form-counter {
  text-align: right;
  color: var(--ui-color-fg-muted);
  font-size: var(--ui-font-size-sm);
  white-space: nowrap;
  margin-left: auto
}
/* .jxui-form-counter[data-validation="valid"] {
  color: var(--ui-color-green-4);
} */
.jxui-form-counter[data-validation="invalid"] {
  color: var(--ui-color-red-3);
}

