.jxui-form-wrapper {
  font-size: var(--ui-font-size-md);
  color: var(--ui-color-fg-input);
  background-color: var(--ui-color-bg-canvas);
  border: 1px solid var(--ui-color-border-default);
  border-radius: var(--ui-border-radius);
  outline: none;
  box-shadow: inset 0 1px 0 var(--ui-color-shadow-inset);
  overflow: hidden;
  display: flex;
  padding: 0;
  gap: var(--6px);
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--40px);
  margin-bottom: 5px;
  position: relative;
}

[data-validation="invalid"] > .jxui-form-wrapper {
  border-color: var(--ui-color-red-3);
}
[data-validation="valid"] > .jxui-form-wrapper {
  border-color: var(--ui-color-green-4);
}

.jxui-form-wrapper:where(:not([data-disabled] > .jxui-form-wrapper)):focus-within {
  border-color: var(--ui-color-accent-fg, #0969da);
  outline: 2px solid var(--ui-color-accent-fg, #0969da);
  outline-offset: -1px;
}
[data-disabled] > .jxui-form-wrapper {
  background-color: var(--ui-color-bg-disabled);
  border-color: var(--ui-color-border-disabled);
  color: var(--ui-color-fg-muted);
}

[data-disabled] > .jxui-form-wrapper,
[data-disabled] > .jxui-form-wrapper *,
.jxui-form-wrapper :disabled {
  cursor: not-allowed;
}

[data-size="large"] > .jxui-form-wrapper {
  font-size: var(--ui-font-size-lg);
  gap: var(--8px);
}
[data-size="large"] > .jxui-form-wrapper:has(input) {
  height: 3rem;
}

.jxui-form-wrapper > :not(input, select, textarea) {
  align-self: center;
  color: var(--ui-color-fg-muted);
  flex-shrink: 0;
  flex-grow: 0;
  user-select: none;
}
