.jxui-FormLabel {
  display: block;
  color: var(--color-fg-default);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-size-sm);
  height: var(--24px);
  width: 100%;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-size="large"] > * > .jxui-FormLabel,
[data-size="large"] > .jxui-FormLabel {
  font-size: var(--font-size-md);
  height: var(--28px);
}
[data-disabled] > * > .jxui-FormLabel,
[data-disabled] > .jxui-FormLabel {
  color: var(--color-fg-muted);
  cursor: default;
}
[data-required] > * > .jxui-FormLabel::after
[data-required] > .jxui-FormLabel::after {
  content: "*";
  margin-left: 4px;
}