.jxui-form-label {
  display: block;
  color: var(--jxui-color-fg-default);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--jxui-font-size-sm);
  height: var(--24px);
  width: 100%;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-size="large"] > * > .jxui-form-label,
[data-size="large"] > .jxui-form-label {
  font-size: var(--jxui-font-size-md);
  height: var(--28px);
}
[data-disabled] > * > .jxui-form-label,
[data-disabled] > .jxui-form-label {
  color: var(--jxui-color-fg-muted);
  cursor: default;
}
[data-required] > * > .jxui-form-label::after
[data-required] > .jxui-form-label::after {
  content: "*";
  margin-left: 4px;
}