.jxui-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px 0 0;
  width: 100%;
}
.jxui-form-valid {
  display: block;
  font-size: var(--uifont-size-sm);
  line-height: 1.4;
  font-weight: 600;
  color: var(--uicolor-green-4);
}
.jxui-form-invalid {
  display: block;
  font-size: var(--uifont-size-sm);
  line-height: 1.4;
  font-weight: 600;
  color: var(--uicolor-red-3);
}