@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.jxui-form-loading {
  text-align: center;
  line-height: 1;
  animation: rotate 1s linear infinite;
  padding: 2px 0 0;
  font-size: inherit;
  margin-top: 2px;
}