{#def
  size=None,
  validation=None,
  required=False,
  disabled=False,
  block=False,
  loading=False,
#}
{#css form-field.css #}

<div {{ attrs.render(
  class="jxui-form-field",
  data_size=size,
  data_validation=validation,
  data_required=required,
  data_disabled=disabled,
  data_block=block,
  aria_busy=loading,
) }}>{{ content }}</div>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}