.jxui-form-valid {
  display: block;
  font-size: var(--jxui-font-size-sm);
  line-height: 1.4;
  margin: 5px 0 0;
  width: 100%;
  font-weight: 600;
  color: var(--jxui-color-success-fg);
}
.jxui-form-invalid {
  display: block;
  font-size: var(--jxui-font-size-sm);
  line-height: 1.4;
  margin: 5px 0 0;
  width: 100%;
  font-weight: 600;
  color: var(--jxui-color-critical-fg);
}