.jxui-radio {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--4px) var(--8px);
  width: 15rem;
  flex-wrap: wrap;
}
.jxui-radio[data-size="large"] {
  width: 19rem;
}
.jxui-radio[data-block] {
  width: 100%;
}

.jxui-radio-input {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 0.1rem;
  border-radius: 100%;
  width: 1.2rem;
  aspect-ratio: 1;
  appearance: none;
  background-color: var(--uicolor-bg-canvas);
  border: 2px solid var(--uicolor-border-default);
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
}
.jxui-radio-input:focus {
  border-color: var(--uicolor-accent-fg);
  outline: 2px solid var(--uicolor-accent-fg);
  outline-offset: -1px;
}
.jxui-radio-input:checked::after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: var(--uifont-size-md);
  text-align: center;
  background: var(--uicolor-bg-canvas);
  border: 0.25rem solid transparent;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  transition-property: background-color;
  pointer-events: none;
}
.jxui-radio-input:checked::after {
  background-color: var(--uicolor-accent-fg);
  border-color: var(--uicolor-bg-canvas);
}
.jxui-radio-input:checked {
  border-color: var(--uicolor-accent-fg);
}

[data-disabled] > .jxui-radio-input {
  background-color: var(--uicolor-bg-disabled);
  border-color: var(--uicolor-border-disabled);
  color: var(--uicolor-fg-muted);
  cursor: default;
}
[data-size="large"] > .jxui-radio-input {
  width: 1.5rem;
}
[data-size="large"] > .jxui-radio-input:checked::after {
  border-width: 0.3rem
}

.jxui-radio-icon {
  color: var(--uicolor-fg-muted);
  font-size: 1.2rem;
  line-height: 1.4;
}