{#def datetime, now="" #}
{#js rel-date.js #}

{% if now %}
  {% do attrs.set(data_now=now) %}
{% endif%}

<time {{ attrs.render(
  class="jxui-rel-date",
  datetime=datetime,
  data_relative=true,
) }}>{{ content }}</time>
