{#def datetime, now="" #}
{#js stimulus-3.2.2.js, rel-date-controller.js #}

{% if now %}
  {% do attrs.set(data_now=now) %}
{% endif%}

<time {{ attrs.render(
  class="jxui-rel-date",
  datetime=datetime,
  data_relative=true,
) }}>{{ content }}</time>
