{#def tag="nav" #}
{#css jxui.css, tab.css #}
{#js stimulus-3.2.2.js, tab-controller.js #}


<{{ tag }} {{ attrs.render(
  class="jxui-tab-list",
  role="tablist",
  tabindex="-1",
) }}>{{ content }}</{{ tag }}>
