{#def target, disabled=False #}

<option {{ attrs.render(
    class="jxui-tab-option",
    value=target,
    disabled=disabled,
) }}>{{ content }}</option>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}