{#def tag="nav" #}
{#css tab.css #}
{#js tab.js #}


<{{ tag }} {{ attrs.render(
  class="jxui-tab-list",
  role="tablist",
  tabindex="-1",
) }}>{{ content }}</{{ tag }}>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}