{#def
  manual=False,
  position = "top",
  align = "start",
  tag="div",
#}
{#css jxui.css, Tab.css #}
{#js jxui.js, Tab.js #}

<{{ tag }} {{ attrs.render(
  class="jxui-TabGroup",
  aria_orientation="vertical" if position in ("left", "right") else "horizontal",
  data_manual=manual,
  data_position=position,
  data_align=align,
) }}>{{ content }}</{{ tag }}>
