{#def vertical=False, manual=False, tag="nav" #}
{#js jxui.js, jxui-Tab.js #}
{#css "Tab.css" #}

<{{ tag }} {{ attrs.render(
    class="jxui-TabList",
    role="tablist",
    aria_orientation="vertical" if vertical else "horizontal",
    data_manual=manual,
    tabindex="-1",
) }}>{{ content }}</{{ tag }}>
