.jxui-table-wrapper {
  overflow: auto;
  width: 100%;
}
.jxui-table {
  border: none;
  text-indent: 0;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 4px;
  margin: 0;
  width: 100%;
  font-size: 0.9em;
  cursor: default;
}
.jxui-table tr, .jxui-table td, .jxui-table th {
  border: none;
}
.jxui-table tr:hover:not(thead tr, tfoot tr) {
  background-color: var(--ui-neutral-50);
}
.jxui-table tr:not(:last-child) {
  border-bottom: 1px solid var(--ui-border-muted);
}
.jxui-table thead {
  border-bottom: 1px solid var(--ui-border-default);
  line-height: 1.4;
  color: var(--ui-fg-muted);
  font-weight: 600;
}
.jxui-table tfoot {
  border-top: 1px solid var(--ui-border-default);
  background-color: var(--ui-neutral-200);
}
.jxui-table caption {
  color: var(--ui-fg-muted);
  margin: 0 0 0.5rem;
}
.jxui-table caption.bottom {
  caption-side: bottom;
  margin: 0.5rem 0 0;
}

.jxui-table th {
  font-weight: 500;
  padding: 5px 8px 8px;
}
.jxui-table td {
  padding: 5px 8px;
}
.jxui-table td,
.jxui-table th {
  font-size: var(--ui-font-size-sm);
  text-align: left;
  vertical-align: middle;
}
.jxui-table td.center,
.jxui-table th.center {
  text-align: center;
}
.jxui-table td.right,
.jxui-table th.right {
  text-align: right;
}
.jxui-table td.left,
.jxui-table th.left {
  text-align: left;
}
.jxui-table td.nowrap,
.jxui-table th.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}