{#def hidden=False, tag="div" #}
{#css jxui.css, Tab.css #}

{% do attrs.setdefault(tabindex="0") %}
{% if hidden %}
  {% do attrs.set(aria_hidden=True) %}
{% endif %}

<{{ tag }} {{ attrs.render(
  class="jxui-TabPanel",
  role="tabpanel",
) }}>{{ content }}</{{ tag }}>
