.jxui-TextInput > .jxui-FormWrapper {
  padding: 0 10px;
}
.jxui-Textarea > .jxui-FormWrapper {
  padding: 0;
  height: auto;
}
.jxui-TextInput-input,
.jxui-Textarea-input  {
  cursor: text;
  outline: none;
  font-size: var(--font-size-md);
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  background: transparent;
}
.jxui-TextInput-input {
  padding: 0;
}
.jxui-Textarea-input  {
  padding: 10px;
  min-height: 4rem;
}
[data-size="large"] > * > .jxui-TextInput-input,
[data-size="large"] > * > .jxui-Textarea-input  {
  font-size: var(--font-size-lg);
}

.jxui-TextInput-leading:not(.icon),
.jxui-TextInput-trailing:not(.icon) {
  font-size: 85%;
}
.jxui-TextInput-leading.icon,
.jxui-TextInput-trailing.icon {
  font-size: inherit;
  margin-top: 5px;
}
