{#def label, name=None, value="", id=None, type="text", caption=None, invalid=None, valid=None, loading=False #}

{% set id = "akjsakjsh" %}
{% set leading = content("leading") or "" %}
{% set trailing = content("caption") or "" %}
{% set caption = caption or content("caption") or content() %}

{% if invalid %}
  {% set validation = "invalid" %}
{% elif valid %}
  {% set validation = "valid" %}
{% else %}
  {% set validation = "" %}
{% endif %}

{% if caption %}
  {% do attrs.set(aria_describedby=id + "-caption") %}
{% endif %}

<div class="jxui-TextInput" data-validation="{{ validation }}">
  <label for="{{ id }}">{{ label }}</label>
  <span class="jxui-TextInput-wrapper" aria-busy="{{ 'true' and loading or 'false' }}">
    {{ leading }} <input {{ attrs.render(
      id=id,
      type=type,
      name=name,
      value=value,
      aria_label=label,
    ) }} /> {{ trailing }}
  </span>
  {% if caption -%}
    <span id="{{ id }}-caption" class="jxui-TextInput-caption">{{ caption }}</span>
  {%- endif %}
  {% if valid -%}
    <span class="jxui-TextInput-valid"><i class="icon">check</i> {{ valid }}</span>
  {%- endif %}
  {% if invalid -%}
    <span class="jxui-TextInput-invalid"><i class="icon">warning</i> {{ invalid }}</span>
  {%- endif %}
</div>

