.jxui-TextInput > .jxui-FormWrapper {
  padding: 0 9px;
}
.jxui-TextInput[data-size="large"] > .jxui-FormWrapper {
  padding: 0 10px;
}

.jxui-TextInput-input {
  cursor: text;
  outline: none;
  font-size: var(--font-size-md);
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  padding: 0;
  background: transparent;
}
[data-size="large"] > * > .jxui-TextInput-input {
  font-size: var(--font-size-lg);
}

.jxui-TextInput-leading:not(.icon),
.jxui-TextInput-trailing:not(.icon) {
  font-size: 85%;
}
.jxui-TextInput-leading.icon,
.jxui-TextInput-trailing.icon {
  font-size: inherit;
  margin-top: 5px;
}
