{#def text, position="bottom" #}

<div {{ attrs.render(class="jxui-has-tooltip") }}>
  {{ content }}
  <div class="jxui-tooltip" role="tooltip" data-position="{{ position }}" tabindex="-1">
    {{ text }}
  </div>
</div>

{# JinjaX-UI. Copyright Juan-Pablo Scaletti. MIT License #}