<div class="row">

  <ui:Alert dismissible>
    <ui:Alert.Description>
      You can add components to <a href="#">your app</a>
      using dark magic.
    </ui:Alert.Description>
    <ui:Alert.Actions>
      <ui:Button size="small">Do it!</ui:Button>
    </ui:Alert.Actions>
  </ui:Alert>

</div>
<div class="row">

  <ui:Alert title="Heads up!" dismissible>
    <ui:Alert.Description>
      You can add components to your app using dark magic and
      a description of multiple lines of text: Lorem ipsum dolor
      sit amet, consectetur adipiscing elit.
    </ui:Alert.Description>
  </ui:Alert>

</div>
<div class="row">

  <ui:Alert>
    <ui:Alert.Description>
      You can add components to your app using dark magic and
      a description of multiple lines of text: Lorem ipsum dolor
      sit amet, consectetur adipiscing elit.
    </ui:Alert.Description>
    <ui:Alert.Actions>
      <ui:Button size="small">Do it!</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:Alert.Actions>
  </ui:Alert>

</div>
<div class="row">

  <ui:Alert title="Heads up!" dismissible>
    <ui:Alert.Description>
      You can add components to your app using dark magic.
    </ui:Alert.Description>
    <ui:Alert.Actions>
      <ui:Button size="small">Do it!</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:Alert.Actions>
  </ui:Alert>

</div>
<div class="row">

  <ui:Alert title="Your health is important" icon="heart_check" dismissible>
    <ui:Alert.Description>Alert with custom icon.</ui:Alert.Description>
  </ui:Alert>

</div>
<div class="row">

  <ui:Alert icon="" dismissible>
    <ui:Alert.Description>Sad, sad alert without an icon.</ui:Alert.Description>
  </ui:Alert>

</div>