<div>
  <h3>FAQ</h3>
  <ui:Details name="faq">
    <ui:DetailsSummary>What is your refund policy?</ui:DetailsSummary>
    <ui:DetailsPanel>
      If you're unhappy with your purchase, we'll refund you in full.
    </ui:DetailsPanel>
  </ui:Details>
  <ui:Details name="faq">
    <ui:DetailsSummary>Do you offer technical support?</ui:DetailsSummary>
    <ui:DetailsPanel>
      No, use Google or something.
    </ui:DetailsPanel>
  </ui:Details>
  <ui:Details name="faq">
    <ui:DetailsSummary>How much wood could a woodchuck chuck if a woodchuck could chuck wood?</ui:DetailsSummary>
    <ui:DetailsPanel>
      If a woodchuck could chuck wood he would chuck as much wood as a woodchuck could chuck.
    </ui:DetailsPanel>
  </ui:Details>
</div>