
  <ui:Alert var="critical" dismissible>
    <ui:AlertDescription>Critical: Reactor core is overheating!</ui:AlertDescription>
    <ui:AlertActions>
      <ui:Button size="small">Button</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:AlertActions>
  </ui:Alert>


  <ui:Alert var="warning" dismissible>
    <ui:AlertDescription>Warning: Reactor core is overheating!</ui:AlertDescription>
    <ui:AlertActions>
      <ui:Button size="small">Button</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:AlertActions>
  </ui:Alert>


  <ui:Alert var="success" dismissible>
    <ui:AlertDescription>Success: Reactor core is overheating!</ui:AlertDescription>
    <ui:AlertActions>
      <ui:Button size="small">Button</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:AlertActions>
  </ui:Alert>


  <ui:Alert var="info" dismissible>
    <ui:AlertDescription>Info: Reactor core is overheating!</ui:AlertDescription>
    <ui:AlertActions>
      <ui:Button size="small">Button</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:AlertActions>
  </ui:Alert>


  <ui:Alert var="option" dismissible>
    <ui:AlertDescription>Option: Reactor core is overheating!</ui:AlertDescription>
    <ui:AlertActions>
      <ui:Button size="small">Button</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:AlertActions>
  </ui:Alert>


  <ui:Alert var="alert" dismissible>
    <ui:AlertDescription>Alert: Reactor core is overheating!</ui:AlertDescription>
    <ui:AlertActions>
      <ui:Button size="small">Button</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:AlertActions>
  </ui:Alert>


  <ui:Alert var="note" dismissible>
    <ui:AlertDescription>Note: Reactor core is overheating!</ui:AlertDescription>
    <ui:AlertActions>
      <ui:Button size="small">Button</ui:Button>
      <ui:Button size="small" var="text">Button</ui:Button>
    </ui:AlertActions>
  </ui:Alert>

