<div class="row">
  <Alert var="critical" dismissable>
    <AlertDescription>Critical: Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" var="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert var="warning" dismissable>
    <AlertDescription>Warning: Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" var="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert var="success" dismissable>
    <AlertDescription>Success: Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" var="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert var="info" dismissable>
    <AlertDescription>Info: Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" var="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert var="option" dismissable>
    <AlertDescription>Option: Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" var="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert var="alert" dismissable>
    <AlertDescription>Alert: Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" var="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert var="note" dismissable>
    <AlertDescription>Note: Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" var="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
