<Badge look="outline">Outline</Badge>
<Badge look="blue">Blue</Badge>
<Badge look="green">Green</Badge>
<Badge look="yellow">Yellow</Badge>
<Badge look="orange">Orange</Badge>
<Badge look="red">Red</Badge>
<Badge look="purple">Purple</Badge>
<Badge look="brown">Brown</Badge>