<Badge var="outline">Outline</Badge>
<Badge var="info">Info</Badge>
<Badge var="success">Success</Badge>
<Badge var="warning">Warning</Badge>
<Badge var="alert">Alert</Badge>
<Badge var="critical">Critical</Badge>
<Badge var="option">Option</Badge>
<Badge var="note">Note</Badge>