<ui:Badge var="outline">Outline</ui:Badge>
<ui:Badge var="info">Info</ui:Badge>
<ui:Badge var="option">Option</ui:Badge>
<ui:Badge var="success">Success</ui:Badge>
<ui:Badge var="warning">Warning</ui:Badge>
<ui:Badge var="critical">Critical</ui:Badge>
<ui:Badge var="accent">Accent</ui:Badge>