<style>
.btn--primary {
  --color: rgb(255, 255, 255);
  --bg: rgb(2, 129, 219);

  --ui-color-hover: rgb(255, 255, 255);
  --bg-hover: rgb(1, 123, 211);

  --ui-color-active: rgb(255, 255, 255);
  --bg-active: rgb(0, 101, 173);

  --outline: rgba(0, 119, 204, 0.2);
}
.btn--success {
  --color: rgb(0, 0, 0);
  --bg: rgb(75, 210, 154);

  --ui-color-hover: rgb(0, 0, 0);
  --bg-hover: rgb(51, 204, 140);

  --ui-color-active: rgb(0, 0, 0);
  --bg-active: rgb(47, 188, 129);

  --outline: rgba(75, 210, 154, 0.3);
}
.btn--warning {
  --color: rgb(0, 0, 0);
  --bg: rgb(254, 196, 22);

  --ui-color-hover: rgb(0, 0, 0);
  --bg-hover: rgb(244, 183, 1);

  --ui-color-active: rgb(0, 0, 0);
  --bg-active: rgb(223, 168, 1);

  --outline: rgba(254, 196, 22, 0.3);
}
.btn--danger {
  --color: rgb(255, 255, 255);
  --bg: rgb(190, 39, 30);
  --ui-color-hover: rgb(255, 255, 255);
  --bg-hover: rgb(168, 34, 26);

  --ui-color-active: rgb(255, 255, 255);
  --bg-active: rgb(154, 31, 24);
}
.btn--accent {
  --color: rgb(0, 0, 0);
  --bg: rgb(245, 132, 183);

  --ui-color-hover: rgb(0, 0, 0);
  --bg-hover: rgb(243, 104, 166);

  --ui-color-active: rgb(0, 0, 0);
  --bg-active: rgb(241, 85, 155);

  --outline: rgba(245, 132, 183, 0.2);
}

.btn--primary-dim {
  --color: rgb(0, 97, 166);
  --bg: rgb(212, 232, 247);
  --border: rgb(179, 208, 230);

  --ui-color-hover: rgb(0, 97, 166);
  --bg-hover: rgb(200, 226, 244);
  --border-hover: rgb(179, 208, 230);

  --ui-color-active: rgb(0, 97, 166);
  --bg-active: rgb(187, 219, 242);
  --border-active: rgb(179, 208, 230);

  --outline: rgba(19, 143, 231, 0.2);
}

.btn--success-dim {
  --color: rgb(0, 97, 166);
  --bg: rgb(212, 232, 247);
  --border: rgb(179, 208, 230);

  --ui-color-hover: rgb(0, 97, 166);
  --bg-hover: rgb(200, 226, 244);
  --border-hover: rgb(179, 208, 230);

  --ui-color-active: rgb(0, 97, 166);
  --bg-active: rgb(187, 210, 242);
  --border-active: rgb(179, 208, 230);

  --outline: rgba(19, 143, 231, 0.2);
}
.btn--warning-dim {
  --color: rgb(0, 97, 166);
  --bg: rgb(212, 232, 247);
  --border: rgb(179, 208, 230);

  --ui-color-hover: rgb(0, 97, 166);
  --bg-hover: rgb(200, 226, 244);
  --border-hover: rgb(179, 208, 230);

  --ui-color-active: rgb(0, 97, 166);
  --bg-active: rgb(187, 219, 242);
  --border-active: rgb(179, 208, 230);

  --outline: rgba(19, 143, 231, 0.2);
}
.btn--danger-dim {
  --color: rgb(0, 97, 166);
  --bg: rgb(212, 232, 247);
  --border: rgb(179, 208, 230);

  --ui-color-hover: rgb(0, 97, 166);
  --bg-hover: rgb(200, 226, 244);
  --border-hover: rgb(179, 208, 230);

  --ui-color-active: rgb(0, 97, 166);
  --bg-active: rgb(187, 219, 242);
  --border-active: rgb(179, 208, 230);

  --outline: rgba(19, 143, 231, 0.2);
}
.btn--accent-dim {
  --color: rgb(0, 97, 166);
  --bg: rgb(212, 232, 247);
  --border: rgb(179, 208, 230);

  --ui-color-hover: rgb(0, 97, 166);
  --bg-hover: rgb(200, 226, 244);
  --border-hover: rgb(179, 208, 230);

  --ui-color-active: rgb(0, 97, 166);
  --bg-active: rgb(187, 219, 242);
  --border-active: rgb(179, 208, 230);

  --outline: rgba(19, 143, 231, 0.2);
}

</style>

<p>
  <Button class="btn--primary">Primary</Button>
  <Button class="btn--success">Success</Button>
  <Button class="btn--warning">Warning</Button>
  <Button class="btn--danger">Danger</Button>
  <Button class="btn--accent">Accent</Button>
</p>
<p>
  <Button class="btn--primary-dim">Primary</Button>
  <Button class="btn--success-dim">Success</Button>
  <Button class="btn--warning-dim">Warning</Button>
  <Button class="btn--danger-dim">Danger</Button>
  <Button class="btn--accent-dim">Accent</Button>
</p>