<ui:Button var="primary">Primary</ui:Button>
<ui:Button var="success">Success</ui:Button>
<ui:Button var="warning">Warning</ui:Button>
<ui:Button var="alert">Alert</ui:Button>
<ui:Button var="critical">Critical</ui:Button>
<ui:Button var="option">Option</ui:Button>
<ui:Button var="note">Note</ui:Button>