<ui:Button var="outline-primary">Outline Primary</ui:Button>
<ui:Button var="outline-success">Outline Success</ui:Button>
<ui:Button var="outline-warning">Outline Warning</ui:Button>
<ui:Button var="outline-critical">Outline Critical</ui:Button>
<ui:Button var="outline-option">Outline Option</ui:Button>
<ui:Button var="outline-accent">Outline Accent</ui:Button>