<div class="row">
  <ui:Button size="mini">Mini button</ui:Button>
  <ui:Button size="small">Small button</ui:Button>
  <ui:Button>Default button</ui:Button>
  <ui:Button size="large">Large button</ui:Button>
</div>
<div class="row">
  <ui:Button size="big">Big button</ui:Button>
</div>