<div class="row">
  <ui:Button var="primary">Primary</ui:Button>
  <ui:Button var="success">Success</ui:Button>
  <ui:Button var="warning">Warning</ui:Button>
  <ui:Button var="critical">Critical</ui:Button>
  <ui:Button var="option">Option</ui:Button>
  <ui:Button var="accent">Accent</ui:Button>
</div>
<div class="row">
  <ui:Button var="primary" disabled>Disabled</ui:Button>
  <ui:Button var="success" disabled>Disabled</ui:Button>
  <ui:Button var="warning" disabled>Disabled</ui:Button>
  <ui:Button var="critical" disabled>Disabled</ui:Button>
  <ui:Button var="option" disabled>Disabled</ui:Button>
  <ui:Button var="accent" disabled>Disabled</ui:Button>
</div>