<Button var="outline-info">Outline Info</Button>
<Button var="outline-success">Outline Success</Button>
<Button var="outline-warning">Outline Warning</Button>
<Button var="outline-alert">Outline Alert</Button>
<Button var="outline-critical">Outline Critical</Button>
<Button var="outline-option">Outline Option</Button>
<Button var="outline-note">Outline Note</Button>