<Button var="info">Info</Button>
<Button var="success">Success</Button>
<Button var="warning">Warning</Button>
<Button var="alert">Alert</Button>
<Button var="critical">Critical</Button>
<Button var="option">Option</Button>
<Button var="note">Note</Button>