<div class="row">
  <ui:Checkbox label="Default checkbox" caption="This is a caption" />
  <ui:Button>Reference</ui:Button>
</div>
<div class="row">
  <ui:Checkbox label="Large checkbox" caption="This is a caption" size="large" />
  <ui:Button size="large">Reference</ui:Button>
</div>