<ui:Details>
  <ui:DetailsSummary>Is it accessible?</ui:DetailsSummary>
  <ui:DetailsPanel>
    Yes, more than any custom disclose component you'll find on the web, because it's made
    with native elements.
  </ui:DetailsPanel>
</ui:Details>