<div class="row" style="font-size:2rem;">
  <ui:Icon name="search" />
  <ui:Icon name="home" />
  <ui:Icon name="menu" />
  <ui:Icon name="close" />
  <ui:Icon name="settings" />
  <ui:Icon name="check_circle" />
  <ui:Icon name="favorite" />
  <ui:Icon name="add" />
  <ui:Icon name="delete" />
  <ui:Icon name="arrow_back" />
  <ui:Icon name="star" />
</div>
<div class="row" style="font-size:2rem;">
  <ui:Icon name="search" fill />
  <ui:Icon name="home" fill />
  <ui:Icon name="menu" fill />
  <ui:Icon name="close" fill />
  <ui:Icon name="settings" fill />
  <ui:Icon name="check_circle" fill />
  <ui:Icon name="favorite" fill />
  <ui:Icon name="add" fill />
  <ui:Icon name="delete" fill />
  <ui:Icon name="arrow_back" fill />
  <ui:Icon name="star" fill />
</div>

