<div class="row" style="font-size:2rem;">
  <ui:Icon name="search" />
  <ui:Icon name="home" />
  <ui:Icon name="menu" />
  <ui:Icon name="close" />
  <ui:Icon name="settings" />
  <ui:Icon name="check_circle" />
  <ui:Icon name="favorite" />
  <ui:Icon name="add" />
  <ui:Icon name="delete" />
  <ui:Icon name="arrow_back" />
  <ui:Icon name="star" />
</div>
