<div class="row">
  <ui:Input
    countermax="20"
    label="Warn after 20 chars"
    valid="Some validation message"
    caption="This is a caption"
    block
  />
</div>
<div class="row">
  <ui:Input
    countermin="5"
    countermax="20"
    label="Warn before 5 and after 20 chars"
    caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    block
  />
</div>
<div class="row">
  <ui:Input
    countermax="20"
    maxlength="30"
    label="Warn after 20 chars and block at 30"
    value="Minim laboris magna deserunt"
    block
  />
</div>