<div class="row">
  <Input label="A label" caption="A helper text" size="large"/>
</div>
<div class="row">
  <Input label="A label" size="large">A maybe longer caption with optional <em> HTML code</em>. <a href="#">See details</a> (not really).</Input>
</div>
<div class="row">
  <Input label="A long label that will be truncated in most cases" />
</div>
