<div class="row">
  <ui:Input label="Invalid state" value="qwer ty" invalid="Username cannot have spaces" />
  <ui:Input label="Valid state" value="qwerty" valid="Username is available" />
</div>
<div class="row">
  <ui:Input label="Loading state" value="qwerty" loading />
  <ui:Input label="Disabled state" value="qwerty" disabled />
</div>
