<div class="row">
  <Radio label="Default checkbox" caption="This is a caption" name="size" />
  <Button>Reference</Button>
</div>
<div class="row">
  <Radio label="Large checkbox" caption="This is a caption" size="large" name="size" />
  <Button size="large">Reference</Button>
</div>