<div class="row">
  <Radio label="The label" name="demo" value="1" />
  <Radio label="Pre-checked" caption="This is a caption" name="demo" value="2" checked />
</div>
<div class="row">
  <Radio label="Disabled" caption="This is a caption" name="demo" value="3" disabled />
  <Radio
    label="First class"
    caption="Are you feeling lucky?"
    invalid="You don't have enough credits"
    name="demo"
    value="4"
  />
</div>
