<div class="row">
  <Radio
    label="Sponsors"
    caption="Checkbox with icon"
    icon="favorite"
    name="icon"
  />
  <Radio
    label="Sponsors"
    caption="Large checkbox with icon"
    icon="favorite"
    size="large"
    name="icon"
  />
</div>
<div class="row">
  <Radio
    label="Stars"
    caption="Checkbox with icon"
    icon="star"
    name="icon"
  />
  <Radio
    label="Stars"
    caption="Large checkbox with icon"
    icon="star"
    size="large"
    name="icon"
  />
</div>