<div class="row">
  <Select label="Label" caption="Default size">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </Select>
  <Button>Reference</Button>
</div>
<div class="row">
  <Select label="Label" caption="Large size" size="large">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </Select>
  <Button size="large">Reference</Button>
</div>
<div class="row">
  <Select label="Label" caption="Block default" block>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </Select>
</div>
<div class="row">
  <Select label="Label" caption="Block large" size="large" block>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </Select>
</div>