<Table>
  <caption class="bottom">A list of your recent invoices.</caption>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Status</th>
      <th>Method</th>
      <th class="right">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>INV001</td>
      <td>Paid</td>
      <td>Credit Card</td>
      <td class="right">$250.00</td>
    </tr>
    <tr>
      <td>INV002</td>
      <td>Pending</td>
      <td>PayPal</td>
      <td class="right">$150.00</td>
    </tr>
    <tr>
      <td>INV003</td>
      <td>Unpaid</td>
      <td>Bank Transfer</td>
      <td class="right">$350.00</td>
    </tr>
    <tr>
      <td>INV004</td>
      <td>Paid</td>
      <td>Credit Card</td>
      <td class="right">$450.00</td>
    </tr>
    <tr>
      <td>INV005</td>
      <td>Paid</td>
      <td>PayPal</td>
      <td class="right">$550.00</td>
    </tr>
    <tr>
      <td>INV006</td>
      <td>Pending</td>
      <td>Bank Transfer</td>
      <td class="right">$200.00</td>
    </tr>
    <tr>
      <td>INV007</td>
      <td>Unpaid</td>
      <td>Credit Card</td>
      <td class="right">$300.00</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td class="right">$2,500.00</td>
    </tr>
  </tfoot>
</Table>