<div class="row">
  <TabGroup align="start">
    <TabList>
      <Tab target="a1-recent" selected>Recent</Tab>
      <Tab target="a1-popular">Popular</Tab>
      <Tab target="a1-trending">Trending</Tab>
    </TabList>
    <TabPanel id="a1-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </TabPanel>
    <TabPanel id="a1-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </TabPanel>
    <TabPanel id="a1-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </TabPanel>
  </TabGroup>
</div>
<div class="row">
  <TabGroup align="center">
    <TabList>
      <Tab target="a2-recent" selected>Recent</Tab>
      <Tab target="a2-popular">Popular</Tab>
      <Tab target="a2-trending">Trending</Tab>
    </TabList>
    <TabPanel id="a2-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </TabPanel>
    <TabPanel id="a2-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </TabPanel>
    <TabPanel id="a2-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </TabPanel>
  </TabGroup>
</div>
<div class="row">
  <TabGroup align="end">
    <TabList>
      <Tab target="a3-recent" selected>Recent</Tab>
      <Tab target="a3-popular">Popular</Tab>
      <Tab target="a3-trending">Trending</Tab>
    </TabList>
    <TabPanel id="a3-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </TabPanel>
    <TabPanel id="a3-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </TabPanel>
    <TabPanel id="a3-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </TabPanel>
  </TabGroup>
</div>