<ui:TabGroup position="bottom">
  <ui:TabList>
    <ui:Tab target="pb-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pb-popular">Popular</ui:Tab>
    <ui:Tab target="pb-trending">Trending</ui:Tab>
  </ui:TabList>
  <ui:TabPanel id="pb-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pb-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pb-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:TabPanel>
</ui:TabGroup>
