<TabGroup position="bottom">
  <TabList>
    <Tab target="pb-recent" selected>Recent</Tab>
    <Tab target="pb-popular">Popular</Tab>
    <Tab target="pb-trending">Trending</Tab>
  </TabList>
  <TabPanel id="pb-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </TabPanel>
  <TabPanel id="pb-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </TabPanel>
  <TabPanel id="pb-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </TabPanel>
</TabGroup>
