<ui:TabGroup position="right">
  <ui:TabList>
    <ui:Tab target="pr-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pr-popular">Popular</ui:Tab>
    <ui:Tab target="pr-trending">Trending</ui:Tab>
  </ui:TabList>
  <ui:TabPanel id="pr-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pr-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pr-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:TabPanel>
</ui:TabGroup>
