<ui:Tab.Group>
  <ui:Tab.List>
    <ui:Tab target="demo-recent" selected>Recent</ui:Tab>
    <ui:Tab target="demo-popular">Popular</ui:Tab>
    <ui:Tab target="demo-trending">Trending</ui:Tab>
  </ui:Tab.List>

  <ui:Tab.Panel id="demo-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="demo-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="demo-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:Tab.Panel>
</ui:Tab.Group>
