<TabGroup position="left">
  <TabList>
    <Tab target="pl-recent" selected>Recent</Tab>
    <Tab target="pl-popular">Popular</Tab>
    <Tab target="pl-trending">Trending</Tab>
  </TabList>
  <TabPanel id="pl-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </TabPanel>
  <TabPanel id="pl-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </TabPanel>
  <TabPanel id="pl-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </TabPanel>
</TabGroup>
