<ui:TabGroup position="top">
  <ui:TabList>
    <ui:Tab target="pt-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pt-popular">Popular</ui:Tab>
    <ui:Tab target="pt-trending">Trending</ui:Tab>
  </ui:TabList>
  <ui:TabPanel id="pt-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pt-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pt-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:TabPanel>
</ui:TabGroup>
