<ui:TabGroup position="left">
  <ui:TabList>
    <ui:Tab target="pl-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pl-popular">Popular</ui:Tab>
    <ui:Tab target="pl-trending">Trending</ui:Tab>
  </ui:TabList>
  <ui:TabPanel id="pl-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pl-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:TabPanel>
  <ui:TabPanel id="pl-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:TabPanel>
</ui:TabGroup>
