<ui:Tab.Group position="top">
  <ui:Tab.List>
    <ui:Tab target="pt-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pt-popular">Popular</ui:Tab>
    <ui:Tab target="pt-trending">Trending</ui:Tab>
  </ui:Tab.List>
  <ui:Tab.Panel id="pt-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pt-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pt-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:Tab.Panel>
</ui:Tab.Group>
