<ui:TabGroup>
  <ui:TabList>
    <ui:Tab target="demo-recent" selected>Recent</ui:Tab>
    <ui:Tab target="demo-popular">Popular</ui:Tab>
    <ui:Tab target="demo-trending">Trending</ui:Tab>
  </ui:TabList>

  <ui:TabPanel id="demo-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:TabPanel>

  <ui:TabPanel id="demo-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:TabPanel>

  <ui:TabPanel id="demo-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:TabPanel>
</ui:TabGroup>
