<ui:TabGroup manual>
  <ui:TabList>
    <ui:Tab target="manual-recent" selected>Recent</ui:Tab>
    <ui:Tab target="manual-popular">Popular</ui:Tab>
    <ui:Tab target="manual-disabled" disabled>Disabled</ui:Tab>
    <ui:Tab target="manual-trending">Trending</ui:Tab>
  </ui:TabList>

  <ui:TabPanel id="manual-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:TabPanel>

  <ui:TabPanel id="manual-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:TabPanel>

  <ui:TabPanel id="manual-disabled" hidden>
    <p>This is the tab panel for "Disabled".</p>
  </ui:TabPanel>

  <ui:TabPanel id="manual-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:TabPanel>
</ui:TabGroup>
