<div class="row">
  <ui:TabGroup align="start">
    <ui:TabList>
      <ui:Tab target="a1-recent" selected>Recent</ui:Tab>
      <ui:Tab target="a1-popular">Popular</ui:Tab>
      <ui:Tab target="a1-trending">Trending</ui:Tab>
    </ui:TabList>
    <ui:TabPanel id="a1-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </ui:TabPanel>
    <ui:TabPanel id="a1-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </ui:TabPanel>
    <ui:TabPanel id="a1-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </ui:TabPanel>
  </ui:TabGroup>
</div>
<div class="row">
  <ui:TabGroup align="center">
    <ui:TabList>
      <ui:Tab target="a2-recent" selected>Recent</ui:Tab>
      <ui:Tab target="a2-popular">Popular</ui:Tab>
      <ui:Tab target="a2-trending">Trending</ui:Tab>
    </ui:TabList>
    <ui:TabPanel id="a2-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </ui:TabPanel>
    <ui:TabPanel id="a2-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </ui:TabPanel>
    <ui:TabPanel id="a2-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </ui:TabPanel>
  </ui:TabGroup>
</div>
<div class="row">
  <ui:TabGroup align="end">
    <ui:TabList>
      <ui:Tab target="a3-recent" selected>Recent</ui:Tab>
      <ui:Tab target="a3-popular">Popular</ui:Tab>
      <ui:Tab target="a3-trending">Trending</ui:Tab>
    </ui:TabList>
    <ui:TabPanel id="a3-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </ui:TabPanel>
    <ui:TabPanel id="a3-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </ui:TabPanel>
    <ui:TabPanel id="a3-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </ui:TabPanel>
  </ui:TabGroup>
</div>