<div class="row">
  <ui:Textarea
    countermax="40"
    label="Warn after 40 chars"
    valid="Some validation message"
    caption="This is a caption"
    rows="2"
    block
  ></ui:Textarea>
</div>
<div class="row">
  <ui:Textarea
    countermin="10"
    countermax="40"
    label="Warn before 10 and after 40 chars"
    caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    rows="2"
    block
  ></ui:Textarea>
</div>
<div class="row">
  <ui:Textarea
    countermax="40"
    maxlength="50"
    label="Warn after 40 chars and block at 50"
    rows="2"
    block
  >Minim laboris magna deserunt veniam id est</ui:Textarea>
</div>