<div class="row">
  <ui:Textarea label="Invalid state" invalid="Something went wrong"> </ui:Textarea>
  <ui:Textarea label="Valid state" valid="Success"></ui:Textarea>
</div>
<div class="row">
  <ui:Textarea label="Disabled state" value="qwerty" disabled></ui:Textarea>
</div>
