<div class="row">
  <ui:Tab.Group align="start">
    <ui:Tab.List>
      <ui:Tab target="a1-recent" selected>Recent</ui:Tab>
      <ui:Tab target="a1-popular">Popular</ui:Tab>
      <ui:Tab target="a1-trending">Trending</ui:Tab>
    </ui:Tab.List>
    <ui:Tab.Panel id="a1-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </ui:Tab.Panel>
    <ui:Tab.Panel id="a1-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </ui:Tab.Panel>
    <ui:Tab.Panel id="a1-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </ui:Tab.Panel>
  </ui:Tab.Group>
</div>
<div class="row">
  <ui:Tab.Group align="center">
    <ui:Tab.List>
      <ui:Tab target="a2-recent" selected>Recent</ui:Tab>
      <ui:Tab target="a2-popular">Popular</ui:Tab>
      <ui:Tab target="a2-trending">Trending</ui:Tab>
    </ui:Tab.List>
    <ui:Tab.Panel id="a2-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </ui:Tab.Panel>
    <ui:Tab.Panel id="a2-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </ui:Tab.Panel>
    <ui:Tab.Panel id="a2-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </ui:Tab.Panel>
  </ui:Tab.Group>
</div>
<div class="row">
  <ui:Tab.Group align="end">
    <ui:Tab.List>
      <ui:Tab target="a3-recent" selected>Recent</ui:Tab>
      <ui:Tab target="a3-popular">Popular</ui:Tab>
      <ui:Tab target="a3-trending">Trending</ui:Tab>
    </ui:Tab.List>
    <ui:Tab.Panel id="a3-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </ui:Tab.Panel>
    <ui:Tab.Panel id="a3-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </ui:Tab.Panel>
    <ui:Tab.Panel id="a3-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </ui:Tab.Panel>
  </ui:Tab.Group>
</div>