<ui:Tab.Group manual>
  <ui:Tab.List>
    <ui:Tab target="manual-recent" selected>Recent</ui:Tab>
    <ui:Tab target="manual-popular">Popular</ui:Tab>
    <ui:Tab target="manual-disabled" disabled>Disabled</ui:Tab>
    <ui:Tab target="manual-trending">Trending</ui:Tab>
  </ui:Tab.List>

  <ui:Tab.Panel id="manual-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="manual-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="manual-disabled" hidden>
    <p>This is the tab panel for "Disabled".</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="manual-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:Tab.Panel>
</ui:Tab.Group>
