<ui:Tab.Group position="right">
  <ui:Tab.List>
    <ui:Tab target="pr-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pr-popular">Popular</ui:Tab>
    <ui:Tab target="pr-trending">Trending</ui:Tab>
  </ui:Tab.List>
  <ui:Tab.Panel id="pr-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pr-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pr-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:Tab.Panel>
</ui:Tab.Group>
