<ui:Tab.Group position="left">
  <ui:Tab.List>
    <ui:Tab target="pl-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pl-popular">Popular</ui:Tab>
    <ui:Tab target="pl-trending">Trending</ui:Tab>
  </ui:Tab.List>
  <ui:Tab.Panel id="pl-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pl-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pl-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:Tab.Panel>
</ui:Tab.Group>
