<ui:Tab.Group position="bottom">
  <ui:Tab.List>
    <ui:Tab target="pb-recent" selected>Recent</ui:Tab>
    <ui:Tab target="pb-popular">Popular</ui:Tab>
    <ui:Tab target="pb-trending">Trending</ui:Tab>
  </ui:Tab.List>
  <ui:Tab.Panel id="pb-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pb-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:Tab.Panel>
  <ui:Tab.Panel id="pb-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:Tab.Panel>
</ui:Tab.Group>
