<ui:Tab.Group>
  <ui:Tab.Select>
    <ui:Tab.Option target="select-recent">Recent</ui:Tab.Option>
    <ui:Tab.Option target="select-popular">Popular</ui:Tab.Option>
    <ui:Tab.Option target="select-disabled" disabled>Disabled</ui:Tab.Option>
    <ui:Tab.Option target="select-trending">Trending</ui:Tab.Option>
  </ui:Tab.Select>

  <ui:Tab.List data-hidden>
    <ui:Tab target="select-recent">Recent</ui:Tab>
    <ui:Tab target="select-popular" selected>Popular</ui:Tab>
    <ui:Tab target="select-disabled" disabled>Disabled</ui:Tab>
    <ui:Tab target="select-trending">Trending</ui:Tab>
  </ui:Tab.List>

  <ui:Tab.Panel id="select-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="select-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="select-disabled" hidden>
    <p>This is the tab panel for "Disabled".</p>
  </ui:Tab.Panel>

  <ui:Tab.Panel id="select-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </ui:Tab.Panel>
</ui:Tab.Group>
