<div class="w-full max-w-xl px-2 py-16 sm:mr-10">
  <TabGroup>
    <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
      <Tabs.CardTab target="disabled-recent" selected>Recent</Tabs.CardTab>
      <Tabs.CardTab target="disabled-popular" disabled>Disabled</Tabs.CardTab>
      <Tabs.CardTab target="disabled-trending">Trending</Tabs.CardTab>
    </TabList>

    <Tabs.StyledPanel id="disabled-recent">
      <p>This is the tab panel for "Recent".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="disabled-popular" hidden>
      <p>This is the tab panel for "Popular".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="disabled-trending" hidden>
      <p>This is the tab panel for "Trending".</p>
    </Tabs.StyledPanel>
  </TabGroup>
</div>
