<div class="w-full max-w-xl px-2 py-16 sm:px-0 mr-10">
  <TabGroup>
    <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1" manual>
      <Tabs.CardTab target="manual-recent" selected>Recent</Tabs.CardTab>
      <Tabs.CardTab target="manual-popular">Popular</Tabs.CardTab>
      <Tabs.CardTab target="manual-trending">Trending</Tabs.CardTab>
    </TabList>

    <Tabs.StyledPanel id="manual-recent">
      <p>This is the tab panel for "Recent".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="manual-popular" hidden>
      <p>This is the tab panel for "Popular".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="manual-trending" hidden>
      <p>This is the tab panel for "Trending".</p>
    </Tabs.StyledPanel>
  </TabGroup>
</div>
