<div class="w-full">
{% filter markdown %}{% raw %}
```html+jinja
{# Style classes removed for clarity #}
<TabGroup>
  <TabList manual>
    <Tab target="recent" selected>Recent</Tab>
    <Tab target="popular">Popular</Tab>
    <Tab target="trending">Trending</Tab>
  </TabList>

  <TabPanel id="recent">
    <p>This is the tab panel for "Recent".</p>
  </TabPanel>
  <TabPanel id="popular" hidden>
    <p>This is the tab panel for "Popular".</p>
  </TabPanel>
  <TabPanel id="trending" hidden>
    <p>This is the tab panel for "Trending".</p>
  </TabPanel>
</TabGroup>
```
{% endraw %}{% endfilter %}
</div>
