<div class="w-full max-w-xl px-2 py-16 sm:px-0 mr-10">
  <TabGroup>
    <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
      <Tabs.CardTab target="select-recent">Recent</Tabs.CardTab>
      <Tabs.CardTab target="select-popular" selected>Popular</Tabs.CardTab>
      <Tabs.CardTab target="select-trending">Trending</Tabs.CardTab>
    </TabList>

    <TabSelect class="min-w-[12rem] rounded-md bg-blue-50 p-2 my-2">
      <TabOption target="recent">Recent</TabOption>
      <TabOption target="popular">Popular</TabOption>
      <TabOption target="trending">Trending</TabOption>
    </TabSelect>


    <Tabs.StyledPanel id="select-recent">
      <p>This is the tab panel for "Recent".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="select-popular" hidden>
      <p>This is the tab panel for "Popular".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="select-trending" hidden>
      <p>This is the tab panel for "Trending".</p>
    </Tabs.StyledPanel>
  </TabGroup>
</div>
