<div class="w-full">
{% markdown %}{% raw %}
```html+jinja
{# Style classes removed for clarity #}
<TabGroup>
  <TabList>
    <Tab target="recent" selected>Recent</Tab>
    <Tab target="popular">Popular</Tab>
    <Tab target="trending">Trending</Tab>
  </TabList>

  <TabSelect aria-hidden="true">
    <TabOption target="recent" selected>Recent</TabOption>
    <TabOption target="popular">Popular</TabOption>
    <TabOption target="trending">Trending</TabOption>
  </TabSelect>

  <TabPanel id="recent">
    <p>This is the tab panel for "Recent".</p>
  </TabPanel>
  <TabPanel id="popular" hidden>
    <p>This is the tab panel for "Popular".</p>
  </TabPanel>
  <TabPanel id="trending" hidden>
    <p>This is the tab panel for "Trending".</p>
  </TabPanel>
</TabGroup>
```
{% endraw %}{% endmarkdown %}
</div>
