{% do attrs.set(
  class="
    rounded-xl
    mt-2
    bg-white
    p-3 pb-6
    ring-white
    ring-opacity-60
    ring-offset-2
    ring-offset-blue-400
    focus:outline-none
    focus:ring-2
    [&.ui-hidden]:hidden
  "
) %}

<TabPanel :__attrs="attrs">{{ content }}</TabPanel>
