<div class="w-full max-w-xl px-2 py-16 sm:px-0 mr-10">
  <TabGroup class="flex w-full space-x-2">
    <TabList class="flex flex-col space-y-1 rounded-xl bg-blue-900/20 p-1" vertical>
      <Tabs.CardTab target="vertical-recent" selected>Recent</Tabs.CardTab>
      <Tabs.CardTab target="vertical-popular">Popular</Tabs.CardTab>
      <Tabs.CardTab target="vertical-trending">Trending</Tabs.CardTab>
    </TabList>

    <Tabs.StyledPanel id="vertical-recent" class="w-full">
      <p>This is the tab panel for "Recent".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="vertical-popular" class="w-full" hidden>
      <p>This is the tab panel for "Popular".</p>
    </Tabs.StyledPanel>

    <Tabs.StyledPanel id="vertical-trending" class="w-full" hidden>
      <p>This is the tab panel for "Trending".</p>
    </Tabs.StyledPanel>
  </TabGroup>
</div>
