.jxui-tab-group {
  display: flex;
  width: 100%;
}
.jxui-tab-group[data-position="top"] {
  flex-direction: column;
}
.jxui-tab-group[data-position="bottom"] {
  flex-direction: column-reverse;
}
.jxui-tab-group[data-position="left"] {
  flex-direction: row;
}
.jxui-tab-group[data-position="right"] {
  flex-direction: row-reverse;
}

.jxui-tab-list {
  display: flex;
  position: relative;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
}
[data-position="top"] > .jxui-tab-list,
[data-position="bottom"] > .jxui-tab-list {
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  padding-left: 8px;
  padding-right: 8px;
}
[data-position="left"] > .jxui-tab-list,
[data-position="right"] > .jxui-tab-list {
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
[data-position="top"] > .jxui-tab-list {
  transform: translateY(1px);
  padding-top: 1px;
}
[data-position="bottom"] > .jxui-tab-list {
  transform: translateY(-1px);
  padding-bottom: 1px;
}
[data-position="left"] > .jxui-tab-list {
  transform: translateX(1px);
  padding-left: 1px;
}
[data-position="right"] > .jxui-tab-list {
  transform: translateX(-1px);
  padding-right: 1px;
}

[data-align="start"] > .jxui-tab-list {
  justify-content: flex-start;
}
[data-align="center"] > .jxui-tab-list {
  justify-content: center;
}
[data-align="end"] > .jxui-tab-list {
  justify-content: flex-end;
}

.jxui-tab {
  line-height: 1.4;
  color: var(--ui-fg-base, #1F2328);
  text-decoration: none;
  background: var(--ui-bg-base-200);
  border: 1px solid var(--ui-border-muted);
  z-index: 1;
  transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
  transition-property: background-color, border-color, color;
}
.jxui-tab[data-selected] {
  background-color: var(--ui-bg-base);
  border-color: var(--ui-border-default);
}

[data-position="top"] > .jxui-tab-list .jxui-tab {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
[data-position="top"] > .jxui-tab-list .jxui-tab[data-selected] {
  border-bottom-color: var(--ui-bg-base);
}

[data-position="right"] > .jxui-tab-list .jxui-tab {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
[data-position="right"] > .jxui-tab-list .jxui-tab[data-selected] {
  border-left-color: var(--ui-bg-base);
}

[data-position="bottom"] > .jxui-tab-list .jxui-tab {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
[data-position="bottom"] > .jxui-tab-list .jxui-tab[data-selected] {
  border-top-color: var(--ui-bg-base);
}

[data-position="left"] > .jxui-tab-list .jxui-tab {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
[data-position="left"] > .jxui-tab-list .jxui-tab[data-selected] {
  border-right-color: var(--ui-bg-base);
}

[data-position="top"] > .jxui-tab-list .jxui-tab,
[data-position="bottom"] > .jxui-tab-list .jxui-tab {
  padding: var(--12px) var(--16px);
}

[data-position="left"] > .jxui-tab-list .jxui-tab,
[data-position="right"] > .jxui-tab-list .jxui-tab {
  padding: var(--16px) var(--12px);
}

.jxui-tab-panel {
  z-index: 0;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 4px;
  background-color: var(--ui-bg-base);
}