<div class="w-full max-w-xl px-2 py-16 sm:mr-10 md:flex md:space-x-4">
  <div class="w-full">
    <label>Have visited</label>
    <div class="border border-gray-300 rounded">
      <LinkedList
        id="demo1-list1"
        linked_to="demo1-list2"
        class="p-0 m-0 list-none bg-white overflow-y-scroll overscroll-contain h-64"
      >
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="arequipa" class="mr-2">
          <img src="/static/img/flag_peru.svg" alt="Peru flag" width="18" height="18" class="inline-block">
          Arequipa
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="buenos-aires" class="mr-2">
          <img src="/static/img/flag_argentina.svg" alt="Argentina flag" width="18" height="18" class="inline-block">
          Buenos Aires
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="cusco" class="mr-2">
          <img src="/static/img/flag_peru.svg" alt="Peru flag" width="18" height="18" class="inline-block">
          Cusco
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="lima" class="mr-2">
          <img src="/static/img/flag_peru.svg" alt="Peru flag" width="18" height="18" class="inline-block">
          Lima
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="medellin" class="mr-2">
          <img src="/static/img/flag_colombia.svg" alt="Colombia flag" width="18" height="18" class="inline-block">
          Medellín
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="mexico-city" class="mr-2">
          <img src="/static/img/flag_mexico.svg" alt="Mexico flag" width="18" height="18" class="inline-block">
          Mexico City
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="rio" class="mr-2">
          <img src="/static/img/flag_brazil.svg" alt="Brazil flag" width="18" height="18" class="inline-block">
          Rio
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="san-jose" class="mr-2">
          <img src="/static/img/flag_costa-rica.svg" alt="Costa Rica flag" width="18" height="18" class="inline-block">
          San José
        </li>
        <li class="cursor-pointer block p-1 hover:bg-gray-100">
          <input type="checkbox" name="cities" value="santiago" class="mr-2">
          <img src="/static/img/flag_chile.svg" alt="Chile flag" width="18" height="18" class="inline-block">
          Santiago
        </li>
      </LinkedList>
    </div>
    <button
      type="button"
      class="appearance-none whitespace-nowrap border text-center cursor-pointer rounded px-3 py-2 transition-colors focus:outline-offset-1 flex-inline items-center justify-center space-x-1 mt-2 sm:px-2 sm:py-1 bg-gray-200 border-transparent shadow-none hover:border-blue-100 hover:bg-gray-100 focus:bg-gray-200 focus:outline-blue-500 float-right"
      onclick="document.getElementById('demo1-list1').dispatchEvent(new CustomEvent('jxui:linked:sendall'));"
    >
      Select all &raquo;
    </button>
  </div>
  <div class="w-full">
    <label>Have not visited</label>
    <div class="border border-gray-300 rounded">
      <LinkedList
        id="demo1-list2"
        linked_to="demo1-list1"
        class="p-0 m-0 list-none bg-white overflow-y-scroll overscroll-contain h-64"
        active
      >
      </LinkedList>
    </div>
    <button
      type="button"
      class="appearance-none whitespace-nowrap border text-center cursor-pointer rounded px-3 py-2 transition-colors focus:outline-offset-1 flex-inline items-center justify-center space-x-1 mt-2 sm:px-2 sm:py-1 bg-gray-200 border-transparent shadow-none hover:border-blue-100 hover:bg-gray-100 focus:bg-gray-200 focus:outline-blue-500"
      onclick="document.getElementById('demo1-list2').dispatchEvent(new CustomEvent('jxui:linked:sendall'));"
    >
      &laquo;  Remove all
    </button>
  </div>
</div>