<div class="row">
  <ui:Input label="Leading icon" leading="attach_money" />
  <ui:Input label="Trailing icon" trailing="lock" />
</div>
<div class="row">
  <ui:Input label="Leading text" leading-text="USD" />
  <ui:Input label="Trailing text" trailing-text="minutes" />
</div>
<div class="row">
  <ui:Input label="Leading icon and loading" leading="search" loading />
  <ui:Input label="Trailing replaced by loading" trailing-text="minutes" loading />
</div>
<div class="row">
  <ui:Input label="Disabled leading icon" leading="mail" value="juanpablo@example.com" disabled />
  <ui:Input label="Disabled trailing text" trailing-text="minutes" value="1'234" disabled />
</div>