<div class="w-full">
{% filter markdown %}{% raw %}
```html+jinja
{# Style classes and some content removed for clarity #}
<Accordion>
  <details>
    <summary>Is it accessible?</summary>
    <div>Yes, more than any custom accordion...</div>
  </details>

  <details>
    <summary>Is it unstyled?</summary>
    <div>Yes. The Accordion doesn't need any styles...</div>
  </details>

  <details>
    <summary>Can it be animated?</summary>
    <div>The <code>&lt;details&gt;</code> elements can...</div>
  </details>
</Accordion>
```
{% endraw %}{% endfilter %}
</div>
