<div id="accordion-demo">
  <Accordion>
    <details>
      <summary>Is it accessible?</summary>
      <div class="panel">
        Yes, more than any custom accordion you'll find on the web, because it's made
        with native elements.
      </div>
    </details>

    <details>
      <summary>Is it unstyled?</summary>
      <div class="panel">
        Yes. The Accordion doesn't need any styles, you are free to style your
        <code>&lt;details&gt;</code> elements however you need.
      </div>
    </details>

    <details>
      <summary>Can it be animated?</summary>
      < class="panel">
        The <code>&lt;details&gt;</code> elements can be animated with CSS animations,
        CSS transitions (using <code>transition-behavior: allow-discrete</code>), or with JS.
        <a href="https://dev.to/jgustavoas/solved-how-to-fully-animate-the-details-html-element-with-only-css-and-no-javascript-55ek">some CSS trickery</a>
      </div>
    </details>
  </Accordion>
</div>
