<div class="w-full max-w-xl px-2 py-16 sm:mr-10">
  <Accordion>
    <Accordion.StyledDetails>
      <Accordion.StyledSummary>Is it accessible?</Accordion.StyledSummary>
      <Accordion.Panel>
        Yes, more than any custom accordion you'll find on the web, because it's made with native elements.
      </Accordion.Panel>
    </Accordion.StyledDetails>

    <Accordion.StyledDetails>
      <Accordion.StyledSummary>Is it unstyled?</Accordion.StyledSummary>
      <Accordion.Panel>
        Yes. The Accordion doesn't need any styles, you are free to style your <code>&lt;details&gt;</code> elements however you need.
      </Accordion.Panel>
    </Accordion.StyledDetails>

    <Accordion.StyledDetails>
      <Accordion.StyledSummary>Can it be animated?</Accordion.StyledSummary>
      <Accordion.Panel>
        The <code>&lt;details&gt;</code> elements can be animated with JS or, in a limited way, with CSS (this example uses CSS).
      </Accordion.Panel>
    </Accordion.StyledDetails>
  </Accordion>
</div>
