<summary {{ attrs.render(
  class="
    relative
    bg-white
    text-black
    py-4
    px-5
    border-b
    border-transparent
    group-open:border-neutral-200
    h-14
  "
) }}>{{ content }}</summary>
