<details {{ attrs.render(
  class="
    group
    m-0
    p-0
    first:mt-0
    first-of-type:rounded-t-md
    last-of-type:rounded-b-md
    overflow-hidden
    focus-visible:shadow-sm
    focus-visible:shadow-sky-600
    text-neutral-600
    bg-neutral-100
    border
    border-neutral-300
    h-14
    open:h-44
    transition-all
    duration-200
  "
) }}>{{ content }}</details>
