{#def id, linked_to, active=False, sorted=True, tag="ul" #}
{#js jxui.js, jxui-linked.js #}

<{{ tag }} {{ attrs.render(
  id=id,
  class="ui-linkedlist",
  data_linked_to=linked_to,
  data_linked_active=active,
  data_linked_sorted=sorted,
) }}>{{ content }}</{{ tag }}>
