{#def disabled=false, tag="a" #}

{% do attrs.set(class="ui-menu-item") %}
{% do attrs.setdefault(tabindex="0") %}

{% if disabled -%}
  {% do attrs.set(class="ui-disabled") %}
{%- endif %}

{% do attrs.set(class="ui-menuitem") %}
{% do attrs.set(class="ui-disabled" if disabled else ("ui-selected" if selected else "")) %}

<{{ tag }} {{ attrs.render(role="menuitem", tabindex="-1") }}>{{ content }}</{{ tag }}>
