{#def selected=false, disabled=false, tag="a" #}`

<{{ tag }} {{ attrs.render(
  data_menu_item=true,
  role="menuitem",
  data_ui_disabled=disabled,
  data_ui_selected=selected and not disabled,
) }}>{{ content }}</{{ tag }}>
