{#def id, close_delay=0, tag="div" #}
{#js jxui.js, jxui-menu.js #}

{% do attrs.add_class("ui-menu") %}

<{{ tag }} {{ attrs.render(
  role="menu",
  id=id,
  data_close_delay=close_delay,
  tabindex="-1"
) }}>{{ content }}</{{ tag }}>
