{#def disabled=false, tag="div" #}

{% if disabled -%}
  {% do attrs.set(class="ui-disabled") %}
{%- endif %}

<{{ tag }} {{ attrs.render(
  class="ui-menuitem ui-menuitem-sub",
  role="menuitem",
  tabindex="-1",
) }}>{{ content }}</{{ tag }}>
