{#def id, mode="auto", tag="div" #}
{#js "jxui.js", "jxui-menu.js" #}

{% set mode = mode if mode in ["auto", "manual"] else "auto" %}
{% do attrs.set(class="ui-menu") %}

<{{ tag }} {{ attrs.render(id=id, popover=mode, tabindex="-1") }}>{{ content }}</{{ tag }}>
