{#def id, type="auto", open=false, delay="0", tag="div" #}
{#js "jxui.js", "jxui-popover.js" #}

{% do attrs.setdefault(tabindex="1") %}
{% set type = type if type in ["auto", "manual"] else "auto" %}

<{{ tag }} {{ attrs.render(
  id=id,
  data_popover=type,
  data_open=open,
  data_opened=open,
  data_delay=delay,
) }}>{{ content }}</{{ tag }}>
