{#def vertical=False, manual=False, tag="nav" #}

<{{ tag }} {{ attrs.render(
    data_type="tablist",
    role="tablist",
    aria_orientation="vertical" if vertical else "horizontal",
    data_manual=manual,
    tabindex=False,
) }}>{{ content }}</{{ tag }}>
