{#def hidden=False, tag="div" #}

{% do attrs.setdefault(tabindex="0") %}

<{{ tag }} {{ attrs.render(
  data_type="tabpanel",
  data_hidden=hidden,
  data_selected=not hidden,
  role="tabpanel",
) }}>{{ content }}</{{ tag }}>
