{#def hidden=False, tag="div" #}

{% do attrs.setdefault(tabindex="0") %}

<{{ tag }} {{ attrs.render(
  data_tabpanel=true,
  class="hidden" if hidden else "",
  role="tabpanel",
) }}>{{ content }}</{{ tag }}>
