<Accordion>
  <Details>
    <DetailsSummary>What is your refund policy?</DetailsSummary>
    <DetailsPanel>
      If you're unhappy with your purchase, we'll refund you in full.
    </DetailsPanel>
  </Details>
  <Details>
    <DetailsSummary>Do you offer technical support?</DetailsSummary>
    <DetailsPanel>
      No, use Google or something.
    </DetailsPanel>
  </Details>
  <Details>
    <DetailsSummary>How much wood could a woodchuck chuck if a woodchuck could chuck wood?</DetailsSummary>
    <DetailsPanel>
      If a woodchuck could chuck wood he would chuck as much wood as a woodchuck could chuck.
    </DetailsPanel>
  </Details>
</Accordion>