<p>
  <Alert dismissable>
    <AlertDescription>
      You can add components to <a href="#">your app</a>
      using dark magic.
    </AlertDescription>
    <AlertActions>
      <Button size="small">Do it!</Button>
    </AlertActions>
  </Alert>
</p>
<p>
  <Alert title="Heads up!" dismissable>
    <AlertDescription>
      You can add components to your app using dark magic and
      a description of multiple lines of text: Lorem ipsum dolor
      sit amet, consectetur adipiscing elit.
    </AlertDescription>
  </Alert>
</p>
<p>
  <Alert>
    <AlertDescription>
      You can add components to your app using dark magic and
      a description of multiple lines of text: Lorem ipsum dolor
      sit amet, consectetur adipiscing elit.
    </AlertDescription>
    <AlertActions>
      <Button size="small">Do it!</Button>
      <Button size="small" variant="text">Button</Button>
    </AlertActions>
  </Alert>
</p>
<p>
  <Alert title="Heads up!" dismissable>
    <AlertDescription>
      You can add components to your app using dark magic.
    </AlertDescription>
    <AlertActions>
      <Button size="small">Do it!</Button>
      <Button size="small" variant="text">Button</Button>
    </AlertActions>
  </Alert>
</p>
