<div class="row">
  <Alert variant="critical" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" variant="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert variant="warning" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" variant="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert variant="success" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" variant="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert variant="info" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" variant="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
<div class="row">
  <Alert variant="option" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button size="small">Button</Button>
      <Button size="small" variant="text">Button</Button>
    </AlertActions>
  </Alert>
</div>
