<p>
  <Alert color="#dc2626">
    <i class="icon">alarm</i>
    <AlertTitle>Heads up!</AlertTitle>
    <AlertDescription>
      Reactor core is overheating!
    </AlertDescription>
  </Alert>
</p>
<p>
  <Alert color="#15803d">
    <i class="icon">check_circle</i>
    <AlertTitle>Heads up!</AlertTitle>
    <AlertDescription>
      The reactor core is stable.
    </AlertDescription>
  </Alert>
</p>