<p>
  <Alert variant="critical" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button>Button</Button>
      <Button variant="text">Button</Button>
    </AlertActions>
  </Alert>
</p>
<p>
  <Alert variant="info" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button>Button</Button>
      <Button variant="text">Button</Button>
    </AlertActions>
  </Alert>
</p>
<p>
  <Alert variant="success" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button>Button</Button>
      <Button variant="text">Button</Button>
    </AlertActions>
  </Alert>
</p>
<p>
  <Alert variant="option" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button>Button</Button>
      <Button variant="text">Button</Button>
    </AlertActions>
  </Alert>
</p>
<p>
  <Alert variant="warning" dismissable>
    <AlertDescription>Reactor core is overheating!</AlertDescription>
    <AlertActions>
      <Button>Button</Button>
      <Button variant="text">Button</Button>
    </AlertActions>
  </Alert>
</p>
