<p>
  <Button shape="circle">
    <i class="icon">refresh</i>
  </Button>
  <Button shape="circle" size="large">
    <i class="icon">refresh</i>
  </Button>
  <Button shape="square" variant="ghost">
    <i class="icon">close</i>
  </Button>
  <Button shape="square" variant="ghost" size="small">
    <i class="icon">close</i>
  </Button>
</p>
<p>
  <Button shape="block">Default block</Button>
</p>
<p>
  <Button shape="block" size="large">Large block</Button>
</p>
