<div class="row">
  <Button size="mini">Mini button</Button>
  <Button size="small">Small button</Button>
  <Button>Default button</Button>
  <Button size="large">Large button</Button>
</div>
<div class="row">
  <Button size="big">Big button</Button>
</div>