<p>
  <Button shape="circle" size="big" icon="alarm" />
  <Button shape="circle" size="large" icon="refresh" />
  <Button shape="circle" icon="refresh" />
  <Button shape="square" icon="refresh" />
  <Button shape="square" size="small" icon="refresh" />
</p>
<p>
  <Button shape="block">Default block</Button>
</p>
<p>
  <Button shape="block" size="large">Large block</Button>
</p>
<p>
  <Button shape="block" size="big">Big block</Button>
</p>

