<p>
  <Button size="mini">Mini button</Button>
  <Button size="small">Small button</Button>
  <Button>Default button</Button>
  <Button size="large">Large button</Button>
</p>
<p>
  <Button size="big">Big button</Button>
</p>