<Button variant="primary" shape="circle" size="large">
  <i class="icon">refresh</i>
</Button>
<Button shape="circle" size="large">
  <i class="icon">refresh</i>
</Button>
<Button  variant="primary" shape="circle">
  <i class="icon">refresh</i>
</Button>
<Button shape="circle">
  <i class="icon">refresh</i>
</Button>
