<Button variant="primary">
  <Icon name="repeat" /> Refresh
</Button>
<Button>
  <Icon name="repeat" /> Refresh <Icon name="caret-down" />
</Button>
<Button variant="danger">
  <Icon name="alert" /> Alarm
</Button>