<Button variant="primary" shape="circle" size="large">
  <Icon name="repeat" />
</Button>
<Button shape="circle" size="large">
  <Icon name="repeat" />
</Button>
<Button  variant="primary" shape="circle">
  <Icon name="repeat" />
</Button>
<Button shape="circle">
  <Icon name="repeat" />
</Button>
