<p>
  <Button shape="circle" size="big" icon="alarm" />
  <Button shape="circle" size="large" icon="refresh" />
  <Button shape="circle" icon="refresh" />
  <Button shape="square" icon="refresh" />
  <Button shape="square" size="small" icon="refresh" />
</p>
<p>
  <Button block>Default block</Button>
</p>
<p>
  <Button size="large" block>Large block</Button>
</p>
<p>
  <Button size="big" block>Big block</Button>
</p>

