<div class="row">
  <Checkbox label="The label" />
  <Checkbox label="Checked" caption="This is a caption" checked />
</div>
<div class="row">
  <Checkbox label="Disabled" caption="This is a caption" disabled />
  <Checkbox label="Invalid" caption="Agree to whatever" invalid="You must agree to continue" />
</div>
