<div class="row">
  <Checkbox
    label="Sponsors"
    caption="Checkbox with icon"
    icon="favorite"
  />
  <Checkbox
    label="Sponsors"
    caption="Checkbox with icon"
    icon="favorite"
    size="large"
  />
</div>
<div class="row">
  <Checkbox
    label="Stars"
    caption="Large checkbox with icon"
    icon="star"
  />
  <Checkbox
    label="Stars"
    caption="Large checkbox with icon"
    icon="star"
    size="large"
  />
</div>