<div class="row">
  <Checkbox label="Default checkbox" caption="This is a caption" />
  <Button>Reference</Button>
</div>
<div class="row">
  <Checkbox label="Large checkbox" caption="This is a caption" size="large" />
  <Button size="large">Reference</Button>
</div>