<TabGroup position="top">
  <TabList>
    <Tab target="pt-recent" selected>Recent</Tab>
    <Tab target="pt-popular">Popular</Tab>
    <Tab target="pt-trending">Trending</Tab>
  </TabList>
  <TabPanel id="pt-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </TabPanel>
  <TabPanel id="pt-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </TabPanel>
  <TabPanel id="pt-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </TabPanel>
</TabGroup>
