<TabGroup position="right">
  <TabList>
    <Tab target="pr-recent" selected>Recent</Tab>
    <Tab target="pr-popular">Popular</Tab>
    <Tab target="pr-trending">Trending</Tab>
  </TabList>
  <TabPanel id="pr-recent">
    <p>This is the tab panel for <b>"Recent"</b>.</p>
  </TabPanel>
  <TabPanel id="pr-popular" hidden>
    <p>This is the tab panel for <b>"Popular"</b>.</p>
  </TabPanel>
  <TabPanel id="pr-trending" hidden>
    <p>This is the tab panel for <b>"Trending"</b>.</p>
  </TabPanel>
</TabGroup>
