<p>
  <TextInput label="Label" caption="Default size" />
  <Button style="position:relative;left:-6rem;top:1.5rem;">Reference</Button>
</p>
<p>
  <TextInput label="Label" caption="Large size" size="large" />
  <Button style="position:relative;left:-3rem;top:1.75rem;" size="large">Reference</Button>
</p>
<p>
  <TextInput label="Label" caption="Block default" block />
</p>
<p>
  <TextInput label="Label" caption="Block large" size="large" leading="search" block loading />
</p>