<div class="row">
  <TextInput label="Label" caption="Default size" />
  <Button>Reference</Button>
</div>
<div class="row">
  <TextInput label="Label" caption="Large size" size="large" />
  <Button size="large">Reference</Button>
</div>
<div class="row">
  <TextInput label="Label" caption="Block default" block />
</div>
<div class="row">
  <TextInput label="Label" caption="Block large" size="large" leading="search" block loading />
</div>