<p>
  <TextInput label="Invalid state" value="qwer ty" invalid="Username cannot have spaces" />
  <TextInput label="Valid state" value="qwerty" valid="Username is available" />
</p>
<p>
  <TextInput label="Loading state" value="qwerty" loading />
  <TextInput label="Disabled state" value="qwerty" disabled />
</p>
