<div class="row">
  <Textarea label="Invalid state" invalid="Something went wrong"> </Textarea>
  <Textarea label="Valid state" valid="Success"></Textarea>
</div>
<div class="row">
  <Textarea label="Disabled state" value="qwerty" disabled></Textarea>
</div>
