<p>
  <TextInput label="A label" caption="A helper text" />
</p>
<p>
  <TextInput label="A label">A maybe longer caption with optional <em> HTML code</em>. <a href="#">See details</a> (not really).</TextInput>
</p>
<p>
  <TextInput label="A very long label that will be truncated" />
</p>
