<p>
  <TextInput label="Leading icon" leading="attach_money" />
  <TextInput label="Trailing icon" trailing="lock" />
</p>
<p>
  <TextInput label="Leading text" leading-text="USD" />
  <TextInput label="Trailing text" trailing-text="minutes" />
</p>
<p>
  <TextInput label="Leading icon and loading" leading="search" loading />
  <TextInput label="Trailing replaced by loading" trailing-text="minutes" loading />
</p>
<p>
  <TextInput label="Disabled leading icon" leading="mail" value="juanpablo@example.com" disabled />
  <TextInput label="Disabled trailing text" trailing-text="minutes" value="1'234" disabled />
</p>