<Tooltip text="This is a tooltip" position="left">
  <Button>Left</Button>
</Tooltip>
<Tooltip text="This is a tooltip" position="bottom">
  <Button>Bottom</Button>
</Tooltip>
<Tooltip text="This is a tooltip" position="top">
  <Button>Top</Button>
</Tooltip>
<Tooltip text="This is a tooltip" position="right">
  <Button>Right</Button>
</Tooltip>